[2018-02-17 09:36] cpg opened #4 "login requirements"
the login requirements are as follows:

UI:
 * logo, up top, typically
 * "Username or email" field, should show an email keyboard
 * "Password" field, regular keyboard, secure
 * those two fields must not be occluded by the keyboard pulling up
 * "Login" button

Once these fields collected, the app has to use Oauth 2.0 to login.

The details of the url to use have to be loaded from a file in the

[2018-02-17 09:55] codedentwickler commented on #4
I will work on this.

[2018-02-17 14:28] codedentwickler commented on #4
**Summary:**
Implement OAuth 2 for login

**Expected Behaviour:**
User must be able to Login to the App and stay logged in until the user taps logout button.

**Steps:**
1. Add Necessary dependencies for Networking. I'm considering using [Alamofire](https://github.com/Alamofire/Alamofire) for Networking and [EVReflection](https://github.com/evermeer/EVReflection) for Parsing the JSON responses int

[2018-02-17 14:39] cpg commented on #4
Plan looks good. I would base your work on #2 while that is being finished.

[2018-02-17 14:45] codedentwickler commented on #4
Okay thanks. I will leave @csoni111 to complete what he is working on. I will go on with the setup for now and connect storyboard when his PR is merged

[2018-02-17 14:46] csoni111 commented on #4
@codedentwickler I am not working on anything!

[2018-02-17 14:51] codedentwickler commented on #4
Oops sorry about that, I meant @baquer work on updates to his PR on the Login page.

[2018-02-17 20:15] baquer commented on #4
**summary**
implementing OAuth 2 for login
**Expected Behaviour**
user login
**Summary**
we can implement OAuth 2 by using Cocoapods 'AlamofireOauth2'
and sliding of keyboard by 'IQKeyboardManager'

[2018-02-17 22:58] codedentwickler commented on #4
@cpg I am assuming the ios OAuth flow is like the one implemented on the Android. I will explain what I understand at the moment. Correct me if I'm wrong.

Steps:

- User opens app. If it is the first launch or access token has expired, **GET ACCESS TOKEN**
- Store the access token and expiry time locally.
- The user provides username/email and password.  Use access token to make a request for LOG

[2018-02-17 23:04] cpg commented on #4
I don't remember the specifics of how the Oauth protocol works (it's been a long while). If someone that is more familiar with this (or can trace the Android code) can confirm, it would be great.

[2018-02-17 23:27] csoni111 commented on #4
@codedentwickler I can help you with the specifics of Login api:
A POST request is to be made to `/api2/oauth/token?grant_type=password` with following params: `client_id`, `client_secret`, `username`, `password` in the post body with `application/x-www-form-urlencoded` as the content-type.
If successful, you will receive a `200 HTTP OK` json type response, with a `access_token` field in the respo

[2018-02-18 09:25] codedentwickler commented on #4
Thanks, @cpg @csoni111. This helps a lot. I understand how it works now.
I will check out the Android code to learn more about how it was implemented if I need anything more.

[2018-02-18 13:53] codedentwickler commented on #4
@cpg @csoni111 I have integrated OAuth according to what you described earlier, but I still need to test with the actual endpoints and credential to check if it works.

What is the next step?

[2018-02-18 16:46] codedentwickler commented on #4
@cpg @csoni111  I just created a PR for the OAuth and login Implementation. Kindly review.

[2018-02-19 05:41] eliakorkmaz commented on #4
@cpg I got two question, expect this requirements can I add another components which I think its fit with the app for now, and the other is, will you reply to whose send the Amahi Gsoc form ?

[2018-02-19 11:32] cpg commented on #4
@eliakorkmaz These two things appear to be unrelated to this issue. Please file a separate issue with your suggestion. The second question is not appropriate to an issue at all (we will eventually send a welcome message).

[2018-02-19 11:36] eliakorkmaz commented on #4
@cpg deleted the own comment, sorry for at all, I will bring questions with new issues.

[2018-02-19 11:44] cpg opened #6 "settings area requirements"
We will need a settings area for the app.

At the moment we have the following settings:

 * "Connection" switch: a 3-position chooser/switch, Autodetect (default), LAN and Remote
 * A way to "Sign out" of the app back to the login screen
 * An "About" area with the version of the app. We need to identify where this version is picked up from. Maybe a constant in the code for now.
 * A "Feedback" b

[2018-02-19 11:53] cpg opened #7 "Built in video player (VLCKit integration)"
We will sooner or later need to integrate with [VLCKit](https://wiki.videolan.org/VLCKit/#Building_the_framework_for_iOS) which I believe is available as a Pod (according to what the lead of VLC told us in the last GSoC mentors meeting).

There are some assets (icons for play button, subs, audio track, aspect ratio) etc.). We can provide them when needed (we have to extract them first, though the

[2018-02-19 12:09] cpg opened #8 "Servers browser, shares browser and apps browser"
The app, at the highest level (once the user is logged in), consists a Server browser, and with a server selected, then a Share browser and and App browser.

# Servers

A user may have one or more servers. If a user has three servers called "joe" "joe-2" "Welcome to Amahi", the user should be able to see them up top in the app.

The user must be able to get back "up" to this level to select any ot

[2018-02-19 16:29] snuff4 commented on #6
@cpg An UI like this to start with?
Left some space for future settings.

The home icon takes back to the mai view controller.

![simulator screen shot - iphone 8 - 2018-02-19 at 21 55 03_iphone8gold_portrait](https://user-images.githubusercontent.com/30552772/36387798-f2fdbe96-15bf-11e8-8e4c-63ccc3ec8dc8.png)

[2018-02-19 20:36] baquer commented on #6
![screen shot 2018-02-20 at 2 03 22 am](https://user-images.githubusercontent.com/32494694/36396148-83ea41b4-15e2-11e8-9504-05f45f097b58.png)
@cpg is this okay or should i need to do some changes ?

[2018-02-19 23:42] snuff4 commented on #6
@cpg Updated.

![Uploading Simulator Screen Shot - iPhone X - 2018-02-20 at 05.08.19_iphonexspacegrey_portrait.png…]()

[2018-02-19 23:42] cpg opened #11 "UI tweaks for login page (and rest of the app)"
We may need some UI guidelines going forward, but for now, please take note of the following:

 * The logo as it is now is not official. No shadow on the dice, excessive separation with the letters and incorrect font. Please use our [official logo](http://www.amahi.org/press-kit)
 * The background should be either black or very dark for the whole of the app, not just the login page. The Android ap

[2018-02-19 23:53] cpg opened #12 "credentials must be kept in between invokations of the app"
If the app is closed or reclaimed by iOS, it appears that the user is asked to re-login. This is not acceptable for day to day use.

The session credentials (*not* the user/password) have to be kept across invocations, long term. There may be OS facilities to keep them safely.

[2018-02-20 00:07] cpg commented on #6
Nicely done.

However, on second thought, I think it may be simpler to either have a "<" back link. or a hamburger menu to get back to.

I think we need some overall UI design (also, note that the overall look will change, per #11).

So, perhaps wait until #11 is completed and then we go to that?

[2018-02-20 00:15] snuff4 commented on #6
@cpg Yes I want to have that < back link, now that dice in the middle looks a little odd.

#11 Perfect. I use a full black background in my apps and it looks...good.

[2018-02-20 00:17] snuff4 commented on #6
Actually, the hamburger button looks better. Let me implement that, and get back to you.

[2018-02-20 03:14] cpg commented on #6
@baquer hold off on this, as @snuff4 propose something earlier (your suggestion looked good, though).

[2018-02-20 22:37] snuff4 commented on #11
@cpg Hi, I know we have discussed about the background, but please see this.

So I made the Launch Screen again with the Official logo this time. Black colour looks amazing with the light colour status bar, so I wanted you to check it out!

I will change the colour of the Setting page accordingly then.😃

![simulator screen shot - iphone x - 2018-02-21 at 03 27 06_iphonexspacegrey_portrait](https:/

[2018-02-21 13:10] cpg commented on #11
even though full black is not often the best good choice, i think it looks good here. good going!

[2018-02-21 14:17] baquer commented on #4
@cpg can we use "skip" button in login page to skip the login and and thats directly connects to the dashboard from where we can directly connects other components , and it provides an easiness to the contributors who are working in this project and when this project finishes, we will remove that skip button

[2018-02-22 01:15] cpg commented on #4
@baquer 1) The app remembers credentials going forward (I will merge that after I can test it more), so this UI change is not really that necessary. 2) It can lead to accidents later, so I would say you can add it for yourself if you want, but not commit it. 3) Credentials will be needed to access the right servers soon, so that will not help much going forward.

[2018-02-22 01:46] baquer commented on #4
Okay

[2018-02-22 11:07] cpg opened #17 "missing home icon"
the home icon is missing. i thought i originally added the one original from the app when i first created the first commit for the app. in any case it's missing now.

we could go with the older one or go to all black background.

[2018-02-22 11:19] baquer commented on #8
@cpg I would like to work on this ,if anyone is not working I can continue..

[2018-02-22 13:51] #12 closed

[2018-02-22 13:53] cpg commented on #8
This is a tall order.

Go ahead and focus on servers first. Commit somethis for that alone first.

[2018-02-22 14:30] baquer commented on #8
Okay😊

[2018-02-22 15:22] imjog opened #18 "App is not building due to missing ApiConfig.swift file (new contributors please READ)"
ApiConfig class is using in many places like ApiEndPoints, AuthService etc. Xcode is showing that this file is missing. Why is this file deleted? If there is a reason then what is the replacement?
![screen shot 2018-02-22 at 20 51 08](https://user-images.githubusercontent.com/20956124/36546751-39fffe2c-1812-11e8-9a99-ddc2d94e307b.png)

[2018-02-22 16:45] snuff4 commented on #18
Yes, because of some security issue. @codedentwickler can help you out.

[2018-02-22 22:29] cpg commented on #18
Email support at amahi dot org a copy of this file. This file has sensitive credentials.

[2018-02-24 00:27] snuff4 opened #20 "Add "Forgot password?" link"
A small button in the login view which comes after the login fails once, which leads to this [link](https://www.amahi.org/forgot).

[2018-02-24 00:57] cpg commented on #20
Has to be either a small link or a small button that is out o the way (e.g. bottom of the screen).

[2018-02-24 01:01] snuff4 commented on #20
Something like this, from the Android app.

![whatsapp image 2018-02-24 at 06 30 02](https://user-images.githubusercontent.com/30552772/36623617-3cba2f0a-192c-11e8-967f-fc320dbb1166.jpeg)

[2018-02-24 03:58] snuff4 opened #22 "Landscape orientation"
The app is working fine with iPads, but need to be made compatible with iPhones, with a split screen view.

[2018-02-24 06:07] #17 closed

[2018-02-24 13:14] cpg commented on #20
looks good!

[2018-02-25 00:15] snuff4 commented on #20
![screen shot 2018-02-25 at 5 44 13 am](https://user-images.githubusercontent.com/30552772/36636556-17f050fa-19ef-11e8-9b08-bc29c097e071.png)

[2018-02-25 00:16] snuff4 commented on #20
![screen shot 2018-02-25 at 5 46 09 am](https://user-images.githubusercontent.com/30552772/36636563-3b8fd2f6-19ef-11e8-8d06-ea9fd1452ae0.png)

[2018-02-25 07:00] imjog opened #23 "Adding Network Singleton class for all the API calling"
Since we are using alamofire for API calling and other network stuff, I created a Network.swift file where I implemented all the methods like `post`, `get`, `postWithFormData`, `put`, `patch`, `delete`, `uploadFiles`, `downloadImage` etc with alamofire. All the methods have completion handlers that return parsed JSON, status code, error etc. I created a singleton of this class. We just have to cal

[2018-02-25 09:54] codedentwickler commented on #23
Looks like a good idea @imjog. I don't think we need it for all the methods like patch or delete, I doubt we will use them but it will be good to see this when you PR so we can all review

[2018-02-25 10:34] codedentwickler commented on #23
Ooh, Great then.

[2018-02-25 15:16] imjog commented on #23
Thank you @codedentwickler @cpg :)
After making some changes I will make a PR. Also, I am adding a new pod called `AlamofireImage` (AlamofireImage is an image component library for Alamofire) which I used for writing methods for `uploadFile` and `downloadImage` and some other methods.
Link to AlamofireImage pod: https://github.com/Alamofire/AlamofireImage

[2018-02-25 17:41] imjog commented on #23
I created a PR #25 for this issue. Please review it :)
Also, I did not add `AlamofireImage` pod because there was only one method name `downloadImage` using this pod so I removed the method. I will add this method again when we require.

[2018-02-25 20:10] imjog opened #26 "Reusable components, style guideline and suggestions"
Development of this project is started just few days ago so I want to create some Reusable components that can be applied to iOS applications developed throughout the organization. Also, I want to propose swift style guide and best ios development practices.

**Reusable Components**
Rather than calling functions and methods again and again, we can create reusable components. This will help us writ

[2018-02-26 15:07] imjog commented on #26
@cpg We can implement the things you agreed.
- We can mention about Style Guide and good practices on our readme.md file or a new file for contribution guideline.
- About PDF files - I didn't read on the internet but I learn this thing in meetup I attend in Bangalore, India. Also, last intern place suggested me this that why I suggested here.
- Extension files - I am suggesting about the extension

[2018-02-26 20:30] baquer commented on #8
**SUMMARY**
Implementation of server browser
**EXPECTED BEHAVIOUR**
The Amahi API Back End returns what the server the user has and select one of them ,if only one is present its automatically or default selects the available server and transfer the control to share or app browser
**SUMMARY**
1:- First we need to implement a command bus because this app contains lots of activities and fragments in

[2018-03-03 13:51] csoni111 commented on #8
If @baquer is not workig on this anymore, I would like to start with this one.

[2018-03-03 14:13] baquer commented on #8
@csoni111 I am not actively working on this , so you can start .

[2018-03-03 23:50] cpg commented on #26
I would suggest you add a link to the coding style guide to the README through a PR.

[2018-03-03 23:50] #26 closed

[2018-03-03 23:53] cpg commented on #23
Closing for now. I think AlamoFire may do for now, we can reopen this and revise the use of something like #25 when needed.

[2018-03-03 23:53] #23 closed

[2018-03-04 00:10] cpg opened #31 "App core design, look and feel"
We have a great login screen and flow. This issue is for coming up for a design (or at least several sketches) of what the app should look once the user is logged in, the **core** design.

We need to work on the way the core of the app needs to look and behave. We may need to survey popular apps that do similar things as to what we need (hierarchical navigation, within a main top level) and get so

[2018-03-04 00:16] cpg commented on #22
Thanks for this issue. We will work on sketches and layout ideas i the context of the whole app via #31.

[2018-03-04 00:16] #22 closed

[2018-03-04 00:17] cpg commented on #20
Closed by #24, thanks!

[2018-03-04 00:17] #20 closed

[2018-03-04 00:20] cpg commented on #11
This is done. Great going!

[2018-03-04 00:20] #11 closed

[2018-03-04 00:34] cpg commented on #7
Basic initial integration in #30. Leaving open so I work on other aspects.

[2018-03-05 21:37] #4 closed

[2018-03-07 15:55] imjog commented on #18
@cpg can we mention this (refer this issue) on Readme.md?

[2018-03-09 22:24] cpg opened #37 "basic play of videos with the built-in player"
for now, this is a basic issue to handle a video file.

a file listed in the app should respond to tapping by opening a player full screen and starting play.

once the user taps on "Done" in the player _or_ the file completes playing, the app should return to normal browsing.

the screensaver/lock should not come in during the duration of the play.

we will have more sophisticated player over time

[2018-03-09 22:33] cpg opened #38 "viewing image files"
we can also start with a basic image viewer.

we can either start one-by-one without interaction, or we can work on some smarts.

smarts can include swipes to see the next one or previous one, preloading next, caching, etc.

[2018-03-09 23:54] #38 closed

[2018-03-10 22:03] baquer opened #40 "Chromecast Support"
**Chromecast Support**

Chromecast support  lets you stream  videos and  audio from your Amahi app  to your TV or speakers.

**Setup**

Using Cocoapods

pod ‘google-cast-sdk’
pod ‘google-cast-remote-display-sdk’

**Steps To Be Perform**

 -> Install Cocoapods
 -> Add cast Button
 -> Devices Scanning
 -> Select device after Scanning
 -> work with media channel i.e. Media control Channel
 -> load th

[2018-03-11 09:54] cpg commented on #40
how would you plan to test it?

the app itself has no way to play video at the moment (hopefully soon, so why not wait until then?).

what is the relationship of strip_unused_archs.sh to CC?

[2018-03-11 09:58] cpg opened #41 "my pictures folder chokes the app with a networking error"
there appears to be no such error on the call over the network, just the app displays a (rather amateurish-looking "Oops!" error), network error alert. Pulling down does not seem to help.

i can provide the output of my pictures folder (about 578 entries) in private.

[2018-03-11 10:03] cpg commented on #41
incidentally, but somewhat unrelated, we saw one user this past week that has trouble with movies (in the existing app) because the movies folder has 5400+ entries.

[2018-03-11 10:07] cpg opened #42 "toggling sorting of the display of folders/files"
we will need to add an easy way to toggle sorting alphabetically vs latest. the current production app has a button on the top right (where the signout is now, which should be in the settings area).

the default listing of files/folders should be latest mtime first (including soon, even without the sorting toggle).

[2018-03-11 11:08] baquer commented on #40
I don't have Chromecast device presently so i am not able to test the app , but i will find out the way for testing . As the app has no way to play video at the moment ,so i will wait until it gets implemented
If we add Google cast using cocoapods, we don't need to strip. If we added it manually, then we must add the script to remove them, because the problem is that the  framework contains a buil

[2018-03-11 12:03] cpg opened #43 "viewing pictures is often impossibly slow and often does not work"
i often see the following behavior:

 * open a folder with a small amount of pictures
 * the first one may or may not load. the AA server does not see the requests (some times)
 * if the first one does not load (spinner on), so do not the other pictures
 * if the first one loads, often, but not always, all others are loaded in the background
 * loading images is really slow -- with a local access,

[2018-03-11 20:16] baquer commented on #31
@cpg i made the UI of Setting Area , check it .
![screen shot 2018-03-12 at 1 42 53 am](https://user-images.githubusercontent.com/32494694/37258003-168e8de0-2597-11e8-883c-f72df2d9f642.png)
![screen shot 2018-03-12 at 1 42 58 am](https://user-images.githubusercontent.com/32494694/37258007-1e463312-2597-11e8-9e5e-06b87390c879.png)

[2018-03-11 22:02] csoni111 commented on #43
I did some debugging and found this in the logs:
[code]
It appears for some images randomly, where others load fine. On digging deeper I found the error description:
[code]

As this SO [answer](https://stackoverflow.com/a/25853478/6352482) suggests, I tried rebooting the emulator and even Reset Content & Settings, but same error appears afterwards.

This [answer](https://stackoverflow.com/a/259969

[2018-03-11 22:57] csoni111 commented on #41
I first tried with 500 files in my share, it opens fine. Then I tired with 1000 files in my share and it failed to load the files. This pops up in the logs:
[code]

My guess is that the ios app is closing the connection to the server before it receives the complete response. One way to avoid this situation would be to implement pagination for each directory listing on the AA server.

[2018-03-12 17:49] baquer commented on #6
if @snuff4 is not working on this ,i would like to work on this.

[2018-03-12 18:00] snuff4 commented on #6
@baquer sure.

[2018-03-12 23:00] cpg commented on #41
Yes, though, I am suspecting this has got to do that networking library. The existing iOS app can read my pictures folder *extremely* fast. So fast that it appears local to the phone, even when doing a pull down to refresh.

Now, the existing app has trouble with someone having 2500+ entries, and pagination would help, however, I would like to settle that separately and deal with this issue first

[2018-03-12 23:02] cpg commented on #6
@baquer wrote that he will work on it. and provided some UI for the Settings area. I will follow with my feedback below this

![screen shot 2018-03-12 at 1 42 53 am](https://user-images.githubusercontent.com/32494694/37258003-168e8de0-2597-11e8-883c-f72df2d9f642.png)
![screen shot 2018-03-12 at 1 42 58 am](https://user-images.githubusercontent.com/32494694/37258007-1e463312-2597-11e8-9e5e-06b87390

[2018-03-12 23:10] cpg commented on #6
My feedback:

 * The header in light gray does not match the theme, obviously. It will have to match the existing setup for colors, etc.
 * The icon is all cut off. That's just bad UI
 * As for the items, it's unclear if some of them may be unimplemented. Do not add any meny\u

These should go without saying, as it's common sense, but here it goes
 * There is browsing functionality on the app, so

[2018-03-12 23:11] codedentwickler commented on #41
I agree with @cpg. I think the issue is from Lightbox. Maybe you should try out another library. https://github.com/rs/SDWebImage is widely used. What do you think? @csoni111

[2018-03-13 00:17] #37 closed

[2018-03-13 03:36] cpg opened #45 "Browsing Apps"
The app, at the highest level (once the user is logged in), consists a Server browser, and with a server selected, then a Share browser and and App browser. The first two were addressed in #8. This issue is for App browsing.

# Apps

When browsing Apps, the user should see the currently available apps installed in the selected server. Selecting an app launches a built-in browser, full screen (exce

[2018-03-13 03:37] cpg commented on #8
Closed by #35

[2018-03-13 03:37] #8 closed

[2018-03-13 06:03] csoni111 commented on #41
@codedentwickler This issue has got nothing to do with LightBox. This is happening on ServerFiles screen. Here alamofire is failing the api request to fetch the all the file names in the directory.
The LightBox issue is on #43 .

[2018-03-13 06:18] csoni111 commented on #43
@codedentwickler Yes I think LightBox is also the culprit here. It throws network request for all the files at once, instead of only loading the current, previous and next images. We can look for other image viewing libraries, but that still does not resolve `"The network connection was lost."` issue.

[2018-03-13 13:40] csoni111 commented on #42
I would like to work on this.

[2018-03-14 02:27] devjdg commented on #18
Would it be helpful if a sample ApiConfig.swift file was included in the repository (eg. formatted as a markdown file). This is just to have a uniform setup. Just a suggestion.

[2018-03-14 03:12] #18 closed

[2018-03-14 03:14] cpg commented on #18
We looked at a couple of options with gitignore and other, and I just tried again, with fatalError().

I have no idea how having markdown would work at all.

Sadly, any new changes are NOT .gitignored and surely someone, sometime, will commit this file with dev credentials.

[2018-03-14 03:26] devjdg commented on #18
As per suggestion, using a markdown as an example file only just to show the ApiConfig template. Another workaround possibly is through the implementation of .gitattributes and custom filters.

[2018-03-14 08:33] cpg opened #46 "File names are sometimes long, sometimes shortened with dots"
There are some inconsistencies in the way labels are presented. I am not sure what's happening, so these things below are my observations, with my data set.

Definition `ellipsized`: a word I just made up to mean reducing the length of a label or name and an ellipsis `...` placed at the end of the reduced label. (surely there is a name for this already?)

If the rendering is wide first, the longes

[2018-03-14 08:37] cpg opened #47 "files are not aligned with folders"
Files and folders are not aligned at the left. files are slightly indented. It's very unsettling 😱

The disclosure indicator `>` at the end of a folder is enough to tell.

[2018-03-14 08:40] cpg opened #48 "when entering a folder the header title should change"
the title should change an probably be the name of the folder. ellipsized probably, since the folder name may be too long often.

[2018-03-14 09:01] csoni111 commented on #46
How about if we ellipsize it from the middle, like:
`The Today Show Starring ... Lea Michele, Jhene Aiko, Big Sean.mkv`

[2018-03-14 09:07] cpg commented on #46
Good idea!

If ellipsized in the same place it should all align, so it should probably work readability-wise!

[2018-03-14 09:08] cpg commented on #46
[ellipsize](https://developer.android.com/reference/android/widget/TextView.html#attr_android:ellipsize) is a thing. great.

[2018-03-14 10:03] csoni111 commented on #43
I shall try with some different library other than LightBox and report here.

[2018-03-14 10:16] #42 closed

[2018-03-14 10:16] #47 closed

[2018-03-14 10:16] #48 closed

[2018-03-16 02:10] cpg opened #50 "video player: done button has to fade away with the other controls"
the `Done` button up to should fade away with the other controls also and reappear when the user touches the screen.

[2018-03-16 02:19] cpg opened #51 "video player: 15s forward or back"
one very useful feature in video players is a quick button to go forward 15 seconds or back 15 seconds.

ideally, this could be done with some gestures and no icons. for example, if one imagines the screen divided in two parts down the middle, if the user double-taps on the left side of the screen, the video could go back 15 seconds. if the user double-taps on the right side of the screen, the vid

[2018-03-16 02:26] codedentwickler commented on #50
@cpg I will like to work on this. Assign this to me.

[2018-03-16 02:35] cpg opened #52 "video player: scrobbling"
the user should be able to "scrobble" on the video. this is basically browsing ("scrolling") through the video duration while the video is playing.

this has traditionally been done through a "scroll bar" at the top of the screen, with a cursor that is always indicating the current position of the "play head" of the video (where the video is playing currently).

there are various things that can b

[2018-03-16 02:41] cpg opened #53 "video player: play should handle audio device events sensibly"
when connecting and disconnecting an audio output device, the player should handle it properly, like other top video players in iOS.

i don't quite know the *exact* rules other players use, but the built in player does things "naturally" gently as follows:

If audio is playing:
* if headphones are disconnected, play should pause
* if bluetooth headphones/speakers are connected, play should continu

[2018-03-16 03:37] cpg opened #54 "video player: button to select audio track"
the player should have a button to select the audio track when the video has multiple audio tracks.

the button should come up visually enabled if there is more than one audio track or visually disabled (or not shown at all) if there is only one audio track.

[2018-03-16 03:49] cpg commented on #51
The current `>>` and `<<` buttons could be *also* used for this purpose (but not instead of the taps).

At the moment they are not useful and we remove them if not used otherwise.

[2018-03-16 04:16] #50 closed

[2018-03-16 04:33] cpg opened #56 "handling PDF/MOBI/EPUB files"
files that require opening the file with some other external app, for example, PDF/MOBI/EPUB for digital documents/presentations/books.

i assume some of these mime types could be opened within the app (e.g. PDF with a webview perhaps), but generally, we need to get external apps to get a file that this app (probably) has downloaded and the external app is called.

[2018-03-16 06:33] cpg commented on #53
Thinking this some more, I think the rule is that play is stopped whenever the currently-used audio device is disconnected.

[2018-03-17 08:29] cpg opened #58 "browsing is caching too hard"
I have verified that once a folder is read, it's cached for a long time (forever?) even with a pull-down-to-refresh.

There isn't even an attempt to contact the server with an `etag` to see if the content changed. The folder appears permanently stuck.

It still happens even if the app is dismissed an started over.

[2018-03-18 22:51] baquer commented on #7
Can we add Subtitle Functionality in Video Player
![screen shot 2018-03-19 at 3 42 21 am_iphonexspacegrey_portrait](https://user-images.githubusercontent.com/32494694/37572137-bbb70eb0-2b2c-11e8-8cfb-9d2e83255e8f.png)

[2018-03-19 09:15] cpg opened #59 "video player: selecting subtitles"
implement a ui for selecting subtitles

the ui should present options or each subtitle found in the media (if any).

[2018-03-19 10:21] cpg opened #60 "video player: fading of UI elements should start after play starts"
currently, fading of UI elements starts shortly after the player takes the screen. often, play takes a few seconds to start (possibly buffering?), but the UI has faded, so it can be a little worrying to see a black screen.

the fading should start after play starts, ideally one second in or so after play actually starts.

[2018-03-19 10:22] codedentwickler commented on #60
I will like to work on this update. @cpg Assign it to me

[2018-03-19 10:32] cpg commented on #60
could we do one at at time? i will assign it to you, however, I would like it if we can work towards closing the last bits of the "forwarding/bactracking 15s at a time"  #51  first.

[2018-03-19 11:47] csoni111 commented on #41
@cpg After doing some tests I finally found that the pfe server is responsible for this. The pfe server fails to give response if the response content goes above 65kb (approx). So the content won't load using `Remote` mode since pfe fails.

To replicate this error:
- Make an empty folder in any of your hda's share.
- Create multiple 0kb files in the folder using `touch random{001..500}.txt`, this

[2018-03-19 13:03] cpg commented on #41
Whoa. I thought it was local only!

[2018-03-19 22:48] csoni111 commented on #58
iOS has inbuilt mechanism for maintaining cached responses. As per the documentation [here](https://developer.apple.com/documentation/foundation/url_loading_system/accessing_cached_data), there are four options for specifying cachePolicy for any URLRequest in ios.

Cache policy | Local cache | Originating source
-- | -- | --
reloadIgnoringLocalCacheData | Ignored | Accessed exclusively
returnCache

[2018-03-19 23:09] csoni111 commented on #58
The main site api sends response with two important headers for cache:
- `Cache-Control → max-age=0, private, must-revalidate`
- `Etag → W/"d53ecabc251f7afb00478e9e1b70354a"`

Also it responds to `HEAD` request with `304 Not Modified` response, if `If-None-Match` header is sent with the previous `Etag` value. But the pfe server sends only the `Etag` header and no `Cache-Control` header.
So cache m

[2018-03-19 23:23] cpg opened #62 "implement local access mode"
since we don't have a settings area yet (!), we need a way to select local access mode.

a simple ad-hock would be a simple switch or comment in the code to enable this, without ui.

an even simpler thing would be to point out where the IP of the file server can be overridden, so local access can be tested.

[2018-03-19 23:28] csoni111 commented on #62
Changing on this line in [AmahiAnywhere/Data/Remote/ApiCalls/ServerApi.swift#L44](https://github.com/amahi/ios/blob/6757f27e635bd037f3e02a6f94531557676a1a2b/AmahiAnywhere/AmahiAnywhere/Data/Remote/ApiCalls/ServerApi.swift#L44):
from
[code]
to
[code]
would do the job.

[2018-03-20 05:41] cpg commented on #41
I tried with the local server address to force local access --- the app behaves erratically, albeit much faster.

I have a folder with about 229MB of photos (45 photos) which I happened to try first and it can reliably crash the app.

With the debugger attached, memory use spikes to 550MB very quickly after opening the first image (and not before then, even when the images are cached, since I don'

[2018-03-20 05:46] cpg opened #63 "photo browser improvements"
The `Close` button is white and to the top-right. this is often hard to see in bright images. the other controls are at the top left, and in electric blue color.

I think the photo browser `Close` should, for consistency, be also on the top left and in the same color (make it a constant somewhere  if possible, so that later we can change them consistently when we tweak the UI).

The controls and t

[2018-03-20 08:47] cpg opened #64 "video player: gestures strategy"
We need some strategy/planning for gestures while the app is in the video player. Ideally, we would have these:
* ~swipe up/down anywhere: volume up/down~
* tap or double-tap ... multiple tap in the left of right of the screen moves play head back or forward by an extra 15s
* in the yet-to-exist scroll bar -- when dragging on the scrollbar position head, the play head is scrolled by that much in t

[2018-03-20 15:05] cpg commented on #58
The situation happens just the same with the local server, near as I can tell.

The server does NOT seem* to receive any calls for a folder that got recently.

Any changes are not seen, even with a pull-down-to-refresh.

[*] I say _seem_ because I am not sure if calls that are received but handled through caching mechanisms are logged in the local server log (`/var/log/amahi-anywhere.log`). Howeve

[2018-03-20 22:20] baquer commented on #59
I made a UI for selecting subtitles
![screen shot 2018-03-21 at 3 45 48 am](https://user-images.githubusercontent.com/32494694/37685783-bef630f8-2cba-11e8-9519-fa9876f39902.png)
I would like to work on this issue.

[2018-03-21 06:21] cpg commented on #59
Definitely *not*, please. You said you would work on the settings area. One thing at a time.

[2018-03-22 04:13] cpg commented on #60
I thought we agreed the controls must stay on the screen when the video is paused.

I don't seem to see that behavior. If it's simple, we should do it.

[2018-03-22 04:47] cpg opened #66 "video player: sample good UI"
here are some sample images of a video player (an html5 one in a browser) that is kind of nice looking.  I think we should get inspiration from it.

There samples, ipad, iphone vertical, iphone horizontal.

Notice how the grey areas are really just white (or light gray) but **translucent**.

![img_e0041](https://user-images.githubusercontent.com/9907/37751708-2e2c8350-2d51-11e8-8e59-0e609d7bf90d.J

[2018-03-22 15:50] baquer commented on #66
Not sure about the first one , but the last two images are the images of AVPlayer , we can easily import this AVPlayer By AVKit.  We can use an AVPlayer to play local and remote file-based media, such as QuickTime movies and MP3 audio files, as well as audiovisual media served using HTTP Live Streaming.
We can easily Use this player in our App By just 3 lines of code
import AVKit
let moviePlayer =

[2018-03-23 10:17] cpg commented on #66
This comment, while well intentioned, is out of place. This is about UI not about the stack we use for playing video. We have already decided and started integration of VLCKit.

[2018-03-28 10:11] #60 closed

[2018-03-29 10:48] cpg opened #70 "video player: pause when the currently used audio device is disconnected"
this also applies to the audio player when we have one.

in iOS all audio/video playing apps that i know of will pause automatically when the currently used audio device is disconnected.

for example, when the headphones are unplugged, or the bluetooth device runs out of battery or powered off.

our players should do the same.

[2018-03-30 00:56] cpg opened #71 "use touch id"
use touch id to remember user credentials and login with the fingerprint reader.

i will try and design a proper flow -- maybe the most basic is to add a toggle in settings to use touch id and ask the user to verify at that moment with it, the use it afterwards if enabled, until it's disabled.

the login page may need a little fingerprint "icon" somewhere -- or maybe just try touch id if enabled u

[2018-03-30 09:46] codedentwickler commented on #70
@cpg I will like to work on this.

[2018-03-30 20:42] baquer commented on #71
where should we transfer the control go , when the user is authenticated ?
can we transfer the control to dashboard , when the user is authenticated by Touch/Face id ?
Can we add/use Keychain functionality  to secure user data ?

[2018-03-31 00:17] baquer commented on #71
I would like to work on this.

[2018-03-31 11:17] #53 closed

[2018-03-31 11:17] cpg commented on #53
Working on it under #70.

[2018-04-01 08:10] #51 closed

[2018-04-01 20:57] cpg commented on #6
The settings area has to contain a three-way switch - `Automatic`, `LAN`, `Remote` like the existing app. However, it need only implement LAN and Remote for now.

Automatic mode will be implemented separately and hooked up to the `Automatic` setting afterwards under a separate issue.

[2018-04-01 20:59] cpg commented on #6
The default must be LAN mode for now.

[2018-04-01 22:15] cpg opened #74 "Implement Automatic connection mode"
Automatic mode requirements:

1) The app has to always use the LAN connection _if it's available_ when `Automatic` is selected in the settings.
2) The app has to have a Automatic mode in settings. When selected, the app autodetects when LAN mode is possible.
3) Automatic mode has to be made the default when the app starts for the very first time.
4) The app must never switch this setting by itself

[2018-04-06 11:18] cpg opened #76 "WARNING: The class 'ServerRoute' is not key value coding-compliant for the key 'arch'"
Run-time warning:

[code]

[2018-04-06 21:20] cpg opened #77 "app crashes hard after audio file finishes playing"
details of the crash: https://paste.fedoraproject.org/paste/zoYyynX5H23OV7uMhrnk0g/raw

to reproduce: play an mp3 audio file and let it play until the end (or fast forward to near the end and let it finish playing)

[2018-04-06 23:42] cpg commented on #77
Reproducible in the demo server
![screen shot 2018-04-06 at 4 13 22 pm](https://user-images.githubusercontent.com/9907/38448498-5f50b842-39b9-11e8-9b96-71306412d5d0.png)

[2018-04-07 11:54] cpg commented on #77
Actually, I believe this also happens when a video file ends playing. I am not 100% sure, as I was not connected to it, but it acted the same -- reproduction ends and the app crashes.

[2018-04-07 23:54] td512 opened #78 "Change iOS deployment target to iOS 9+"
This will ensure compatibility remains with the iPhone 5, 5C, and 5S.

[2018-04-08 10:44] codedentwickler commented on #76
@cpg I looked into this issue, the warning is coming from EVReflection, It tries to convert every property in the JSON object to s swift type. If some property isn't defined in the swift class that exist in JSON then EVReflection prints this warning.

Ways to fix

1. Ensure all properties in the JSON object are mapped correctly to a swift type, i.e no JSON property should be ignored.

2. We can ad

[2018-04-08 22:10] csoni111 commented on #76
I would prefer the 2nd option. ie. we should ignore the keys which are not required. Why waste memory in storing values for not required keys!

[2018-04-08 22:16] codedentwickler commented on #76
Thanks, @csoni111. Unnecessary memory usage is a good reason, you convinced me. I will proceed once @cpg sign off on this. Earlier I thought we might need those values later on but then we can always remove them from the ignored list if we need them.

[2018-04-14 14:39] codedentwickler commented on #76
This bug has been fixed in #79

[2018-04-14 16:33] codedentwickler commented on #77
This bug has been fixed in #80

[2018-04-15 04:47] #77 closed

[2018-04-15 04:48] #76 closed

[2018-04-15 08:17] cpg opened #81 "add crashlytics"
directions: https://fabric.io/kits/ios/crashlytics/install

i don't know how to add the api key in a sensible way for an open source project.

i'd think we need to keep the api key in our ApiConfig swift file.

[2018-04-15 09:38] cpg opened #82 "Unable to resolve the color named "textMutedColor""
[code]

[2018-04-15 09:42] cpg commented on #82
The message in #78 could be related to this too, so we may want to try lowering the deployment target.

[2018-04-15 11:35] codedentwickler commented on #82
Noticed this issue yesterday in the logs. Seems Xcode is referencing a color type in assets that do not exist. I'm removing all reference to this color `textMutedColor ` in the project. That will fix this.

[2018-04-15 11:38] codedentwickler commented on #82
I have confirmed this warning does not relate lower iOS version

[2018-04-15 11:51] codedentwickler commented on #81
Went through Crashlytics installation docs. Seems we need to add the configuration keys to the project's `info.plist` file. This key will be public if we do this, not sure if there is another way to do this. We can't reference ApiConfig.swift in the info.plist.

[2018-04-15 11:58] #82 closed

[2018-04-15 12:14] #78 closed

[2018-04-15 22:54] codedentwickler opened #84 "mime types: change mime types from integer constants to swift enum."
Currently, integer constants are used to represent different mime types. [Swift Enumerations](https://developer.apple.com/library/content/documentation/Swift/Conceptual/Swift_Programming_Language/Enumerations.html) is a more suitable way of handling this.

[2018-04-16 02:37] cpg commented on #58
Ok, so the `Cache-Control` header is not too brute force, and in fact, I checked that it will re-issue calls each time (including pull-down-to-refresh), though they appear to be `GET`s not `HEAD`s by looking at the logs, and if there is no content changed, it will make the AA server return `304`s.

My bad.

[2018-04-16 02:37] #58 closed

[2018-04-16 05:27] #84 closed

[2018-04-16 05:27] codedentwickler commented on #84
Has been Fixed in #85

[2018-04-18 02:04] codedentwickler commented on #66
@cpg Drawing from the suggestions above, I'm making an update to the current UI of the video player. This update will enable us to implement the scrobbling feature referenced here #52.

* NOTE: The size of Thumb of the slider will be reduced.
![screen shot 2018-04-18 at 3 00 36 am](https://user-images.githubusercontent.com/18694890/38907751-276ee656-42b5-11e8-896a-a4ec15bebae6.png)

[2018-04-20 23:07] cpg opened #87 "new app logo"
I think we should change our app logo.

I think it may be a good idea to make it like the previous one, but with pure black background. The current app logo has an amahi dice that is too large. It you compare to the current app in the app store, you can see how large it is.

The original of the Amahi dice is in the [press kit](http://www.amahi.org/press-kit) page.

The main picky thing with a blac

[2018-04-21 09:08] cpg opened #88 "screen saver comes on while play is happening"
We should not allow the screen saver mechanisms while audio/video play[1] is going on.

I experienced this twice, where the app is playing video (I assume audio as well, but not tried it) and the screen starts dimming, and if the screen is not touched in a bit, eventually the screen turns off and the system locks.

[1] maybe other players, like ebook, pdf, etc.

[2018-04-21 11:35] cpg opened #89 "controls are all to the left on the ipad"
for some reason, even though the rew/play/fwd group of controls are centered and things look great in landscape in iphone, they are nearly all the way to the left on ipad in landscape mode.

[2018-04-21 11:51] cpg commented on #81
Here are [some pointers](https://github.com/search?l=Swift&q=crashlytics&type=Code) to explore.

[2018-04-22 21:57] cpg commented on #88
Yes, the screen should be kept on in audio or video play. I think maybe if there is a longer timeout -- perhaps 2 hours, that's probably ideal, but it has to be restore to the default at the end of play.

[2018-04-23 09:59] cpg opened #91 "when search is cleared, the sorting becomes alphabetical"
when search is cleared, the sorting becomes alphabetical.

it should be 1) what the user has selected, if anything was selected, else 2) the default (time, latest first)

[2018-04-23 10:48] #88 closed

[2018-04-25 08:45] #91 closed

[2018-04-26 12:48] codedentwickler opened #94 "App crashes on Shares when pull down to refresh. This happens on when loading server route fails"
Reason

The Server Address has not been set because the server route wasn't loaded. Hence serveAddress is null/nil,  any attempt is made to load shares when the address has not been set will crash the app.

[2018-05-01 11:37] #66 closed

[2018-05-01 11:39] #52 closed

[2018-05-08 08:09] #70 closed

[2018-05-13 09:24] cpg opened #96 "-"
-

[2018-05-13 09:27] cpg opened #97 "video controls sometimes do not vanish"
i have seen this but not been able to reproduce it.

the video controls sometimes stay up until the whole duration of the video, for no reason.

[2018-05-13 09:47] cpg commented on #97
when this happens, one apparently _can_ touch the screen and that makes them fade out after a few seconds.

[2018-05-13 23:03] cpg commented on #56
wait. reopening. we need proper handling of epub/mobi.

i tried this

[code]

and the files download and open (of course) in a webview, but clearly the webview cannot handle them. sharing them works well, as ibook and others can open the epub files, others can open the mobil files.

so we need to handle them properly as sharing.

[2018-05-17 00:50] cpg opened #98 "crash when trying to share an epub file"
I can see this on iPad on the v3.1 release (I cannot reproduce it on iPhone).

Steps to reproduce: open an epub file (nothing shows on the webview), then click on the button to share.
[code]

[2018-05-17 04:56] cpg opened #99 "bluetooth play/pause not respected during video play"
the behavior of the app with bluetooth headphones with a control button does not seem standard.

the play/pause is not respected. it appears to cause some "hiccup" in the video, but ultimately not making it stop an play again. It did somehow cause audio to drop altogether, but not stop.

[2018-05-22 06:14] cpg opened #101 "downloaded files for offline access"
We should have a feature to be able to enable the user to access and use files when the user is totally offline.

Near as we can tell, we can use the `Documents/Downloaded` folder (see [this doc](https://developer.apple.com/library/content/documentation/FileManagement/Conceptual/FileSystemProgrammingGuide/FileSystemOverview/FileSystemOverview.html#//apple_ref/doc/uid/TP40010672-CH2-SW2)) and later

[2018-05-22 06:42] codedentwickler opened #102 "download cache for temporary files"
We need to store user files locally temporarily so they can share/preview with their suitable third-party apps.

We can use the /tmp/cache/ folder to hold these temporary files.

We will initiate the cleanup operation for files stored in the temp/cache/ folders after an interval specified by the user has passed.

[2018-05-31 00:36] cpg opened #105 "tests fail with shell_session_update: command not found"
details: https://travis-ci.org/amahi/ios/builds/385868467?utm_source=github_status&utm_medium=notification
[code]

[2018-05-31 22:47] #96 closed

[2018-06-03 10:29] #74 closed

[2018-06-03 10:30] #62 closed

[2018-06-05 23:40] cpg commented on #105
After multiple attempts, I declare failure in fixing this.

[2018-06-07 19:21] codedentwickler commented on #97
This might be caused sometimes because we invalidated the timer and for some weird reasons (currently unknown ), the timer was not restarted the next time the user touched the screen.

[2018-06-07 20:33] cpg commented on #97
I *think* after the controls stay up, the user can tap and they disappear.

So that narrows the scope of the bug, I believe.

[2018-06-10 10:25] cpg opened #108 "remote appears to be default in the app"
when opening the app with a phone, the nav bar comes up in maroon, not grey, immediately.

this looks like it may indicate that the default is remote. the default should be local unless and until it fails.

[2018-06-10 10:27] cpg commented on #97
I think i can reproduce this!

Opening `.avi` files appears to leave the controls open after play starts.

[2018-06-10 10:56] codedentwickler opened #109 "Specifications for offline access to downloaded files"
Amahi users should be able to download files to be accessed later, while online or offline. For example, they might want to have some files available during a flight like music or movies.

When a user long-clicks a file or clicks the menu button of each file, a user is presented with the option to download the file (and maybe some other actions, later) through a picker. The user chooses to downloa

[2018-06-13 07:41] #108 closed

[2018-06-17 22:57] codedentwickler commented on #109
@ArihantJain456 Currently we have not discussed on how to sync with the server when such cases arose.

[2018-06-17 23:07] cpg commented on #109
No syncing. Syncing was never mentioned or considered as part of this feature.

[2018-06-23 08:42] cpg opened #114 "offline files issues"
Functionality issues:

- [x] exception in file browser on long press [1]
- [x] once a file is downloaded (I tried with a simple png), it _does_ try to open it, but it's blank. mp4 was able to open, pdf was able to open
- [ ] some file failed to download. there is no indication of the state in the UI. but i know it did not finish downloading (exception). when i try to open it, it does nothing
- [x]

[2018-06-26 19:59] codedentwickler opened #116 "Improvements on LAN Detection in Auto connection mode"
Currently, the app switches back to REMOTE connection mode inappropriately when LAN is still available. This might be due to the delay before the LAN test completes.

The following updates will make this cleaner and more deterministic
- Whenever the LAN test completes, post a notification with the data(failed/passes)
- All View Controllers observe this notification and update the UI and the curren

[2018-07-07 09:16] cpg opened #118 "UI for easier interaction with downloads area"
in the file browser, the user has to navigate back up the file/share hierarchy through multiple taps to reach the `Downloads` area. we would like to improve interaction with the downloads area.

at the same time, it would be good to have a better idea of the status of any active `Downloads` (at the moment there is no indication).

what i propose is to modify the top navigation bar to add something

[2018-07-12 00:39] cpg commented on #114
Do we have any indication in case of an error or premature connection issue during the download?

[2018-07-14 08:42] cpg commented on #98
closed by #100

[2018-07-14 08:42] #98 closed

[2018-07-14 08:46] #97 closed

[2018-07-14 08:47] #89 closed

[2018-07-14 08:49] cpg opened #121 "items to fix for merging to beta and doing a release"
- [ ] ipad layout and color issues with the UI in the browser for Offline files
- [ ] intermittent failure of LAN/Remote autodetection
- [ ] touching the screen during video should toggle controls -- at the moment only postpones the controls disappearing
- [ ] when the downloads icon is yellow (downloading) and the user browses, it becomes white temporarily for about a second or so (then it become

[2018-07-26 20:58] csoni111 opened #123 "Music player"
The app should have a basic audio player to stream and play audio files stored on HDA using the api.

### Features
- Play/Pause, Forward (15s), Rewind (5s), Next/Previous track controls
- Should display the total track time and elapsed time along with seek bar
- Should be able to extract and display the track metadata (Artist, Album, Track title, Genre, Album Artwork, Track number etc)
- Display o

[2018-08-21 03:29] cpg commented on #123
The current audio player as released in `master` mostly works, however, it has the following issues:

* it takes a long time to load initially (about 15 seconds or so) -- I used a folder with 100 items in it. When using a 10-files folder it takes much less. However, I did verify that the remote was *NOT* being accessed in all 100 (or 10) songs, so it may seem like an entirely app-internal slowdown

[2018-10-11 10:13] baquer opened #128 "[UPDATE] Migrate project to Swift 4.2"
**Expected Behaviour**

Migrate project to Swift 4.2

**Would you like to work on the issue?**

Yes

[2018-10-11 11:43] cpg opened #129 "forward of back multiple times is very annoying when the controls go away"
It looks like the timer that makes the controls go away when not used for a few seconds does not reset when the controls are touched.

the situation is very annoying when going back or forward multiple times in a row. typically the user will tap tap tap tap and after about 4 or so, the controls vanish. clearly a small bug in how that timer is handled.

[2018-10-11 13:32] codedentwickler commented on #129
I will look into this right away @cpg

[2018-10-20 12:14] cpg opened #132 "beta branch broken after upgrade to swift 4.2"
the beta branch is broken after upgrade to swift 4.2. it does not compile

https://www.dropbox.com/s/sm35y91f4flmnue/Screen%20Shot%202018-10-20%20at%205.13.44%20AM.png?dl=0

[2018-10-20 13:06] baquer commented on #132
![screenshot 2018-10-20 at 6 31 01 pm](https://user-images.githubusercontent.com/32494694/47256015-badc9000-d496-11e8-960e-4f6b5bfd15a6.png)
@cpg  replace those lines with the above code , or if you wish i can make a PR for this.

[2018-10-20 19:44] cpg commented on #132
thanks @baquer!

let's submit PRs for `beta` only. master is for official public releases.

[2018-10-20 19:44] #132 closed

[2018-10-20 23:41] #129 closed

[2018-11-17 17:33] baquer opened #133 "Status Bar is Hidden ."
**Current Behaviour**
Status Bar is hidden.

**Actual Behaviour**
Status Bar should be present.

**Screenshot of the issue**
![screenshot 2018-11-17 at 10 49 25 pm](https://user-images.githubusercontent.com/32494694/48663848-10b74e80-eabc-11e8-9765-6e215e85d5fa.png)

**How to fix**
Screenshot
![screenshot 2018-11-17 at 10 51 51 pm](https://user-images.githubusercontent.com/32494694/48663867-567417

[2018-11-17 17:36] baquer commented on #128
close via #130

[2018-11-17 17:36] #128 closed

[2018-11-17 21:29] cpg commented on #133
Well, when one is watching a movie it's not nice to see the status bar.

However, the static setting is always or never in this simple configuration. Ideally we'd have it hidden when playing or browsing files (i.e. when a handler is handling a file), not during the rest of the app, browsing files.

So, I am not sure we want this status bar, because of how bright it is in some circumstances.

[2018-11-18 06:14] baquer commented on #133
Okay , yeah that's why I was wondering, why it is hidden , I am closing this issue and PR .
Thanks for the explanation.

[2018-11-18 07:44] baquer commented on #133
@cpg , what we could do is , we hide the status bar in browsing files and in video player  storyboards, while in other storyboards me reflect the status bar .
Is this a good idea??

[2018-11-18 09:13] cpg commented on #133
If it can be made to work to dynamically hide either

1) when the video player is playing, or
2) when the controls of the video player disappear

i.e. it's ok to show the status bar when controls also show. perhaps that is easy, since I do remember we manage the controls (@codedentwickler wrote some code to handle them, iirc).

[2018-11-18 09:35] cpg commented on #133
Just to be clear, I _think_ the logic here would be to leave the status bar (SB) visible by default all the time, then

* only set the SB to hidden when the controls are hidden
* only set the SB to shown when
  * the controls are shown
  * the video player quits (the video ends without displaying the controls)

[2018-11-18 18:39] baquer commented on #133
@cpg ,thanks , i will work on this and make a PR soon.

[2018-12-21 09:54] #133 closed

[2018-12-21 09:57] #121 closed

[2018-12-21 09:59] cpg commented on #114
Has this been all completed, or can it be deemed as completed?

[2018-12-21 10:12] codedentwickler commented on #114
Yes, I think. We can reopen if we find bugs in the current implementation.

[2018-12-31 21:25] cpg opened #136 "Upgrade MobileVLCKit pod to 3.2.0"
Ought to be easy, though there may be some minor API changes that perhaps break things.

[2018-12-31 21:32] cpg commented on #136
Done in #26e386a

[2018-12-31 21:32] #136 closed

[2019-01-27 07:54] jogendra commented on #81
@cpg @codedentwickler This answer may be little helpful https://stackoverflow.com/questions/48488531/best-practice-for-using-fabric-crashlytics-with-open-source-app

[2019-03-01 08:17] iswiftshek commented on #31
Can I work on Issue 6 (making the app work well in both landscape and portrait orientations), if anyone's not working on it currently?

[2019-03-02 19:52] iswiftshek commented on #64
Is there any specific value by which we should change the volume on swiping up/down?
Or, should we let it correspond to the swipe made?

[2019-03-06 03:07] iswiftshek commented on #64
@cpg @codedentwickler @csoni111
Is it not possible to change the volume in MobileVLCKit?
I tried doing so, but any attempts to change the volume mutes it out completely.
So do we have to change the system volume by importing MediaPlayer instead?

[2019-03-07 07:16] Poppy22 commented on #63
Hello! I would like to start working on this. I am interested to participate in GSoC.

[2019-03-07 09:46] csoni111 commented on #64
https://github.com/videolan/vlckit/blob/5abdec40accaf53e2966e5ee00469630dc88e7ce/Tests/Sources/VLCAudioTest.swift#L88:L105
Check this audio volume change test on VideoLan official repo. Does this
not work? @iswiftshek

On Wed, Mar 6, 2019 at 8:37 AM Abhishek Sansanwal <notifications@github.com>
wrote:

[2019-03-07 14:19] iswiftshek commented on #64
Oh, yes, figured that out. I missed the type cast to Int32.
Thank you!

[2019-03-10 23:53] cpg commented on #63
@Poppy22 You don't need permission to work on things. Just try and implement a feature (or fix a bug) to show us your skills. So, go ahead!

[2019-03-13 18:59] cpg opened #142 "Transferring files into the app's downloaded area via iTunes"
Other apps show up under "Apps" in iTunes when one connects the iOS device. For example VLC.

One can `Add` files into the app and the app (again, VLC) can see the files and do stuff with them, like reproduce (play) them, rename them and delete them.

We should do this to our app so that it shows up in iTunes and we can add "downloaded" files to it, so that we can "play" them, or share them, etc.

[2019-03-14 09:55] iswiftshek commented on #142
@cpg So we should save the files that we store in "Apps" through iTunes and show them in the Downloads section (offline) in our app if I got it right?

[2019-03-21 15:43] shubhendra-20 commented on #31
@cpg I am looking forward to the design. Can you suggest some other popular apps which function the same way?

[2019-03-24 22:00] iswiftshek commented on #71
The toggle thing in settings sounds the best option.

Also, for the UI (login screen), how about we just keep it simple like this?

![ezgif com-resize](https://user-images.githubusercontent.com/31038198/54886360-3f4f9680-4ead-11e9-965f-cc440be1d376.gif)

On successful event, we can directly sign in the user otherwise we can give them the option to try again or enter the password manually as shown

[2019-03-24 23:23] cpg commented on #71
Sounds good. I think we should default to using touch ID, since the app is always logged in anyway, it's not a burden. We did not get requests to automatically log out users, but maybe one day we get them.

[2019-03-27 00:27] iswiftshek opened #145 "Thumbnail Previews"
The app doesn't currently display thumbnails for files.
Thumbnails depending on the file type should be there, like, for images we can use the image itself. And for files like docs and audio/video, we can use a sample image.

Two tables are to be edited:
- Files Table
- Offline FIles

[2019-03-27 00:32] iswiftshek commented on #145
We can write a few lines of code to do it, but it results in abnormal behavior while scrolling. A fix to that takes the thumbnails a lot of time to show up.

We can instead use libraries like SDWebImage or Kingfisher, which are basically async image downloaders.
I used SDWebImage, and it works like a charm:

![ezgif com-resize (1)](https://user-images.githubusercontent.com/31038198/55041937-6779f9

[2019-03-27 13:53] cpg commented on #145
This is nice. However wouldn't downloading all images (in full) in parallel overwhelm the data line, especially when it's slow?

I.e. we'd have to do something in the server to produce thumbnails and cache them.

Speaking of caching -- will these thumbnails be cached on the app?

[2019-03-27 14:01] iswiftshek commented on #145
SDWebImage actually comes with cache support and automatic cache expiration handling.. so, we don't have to worry about a particular url downloading multiple times

[2019-03-27 14:44] iswiftshek commented on #145
Yes, thumbnails will be cached on the app.
So the data line should be fine? :)

[2019-03-28 07:39] shubhendra-20 commented on #145
What if we use multithreading to generate thumbnails so that UI does not get blocked.
It should work in a loop as follows:

`NSOperationQueue *emailsQueue = [[NSOperationQueue alloc] init];

// Add an operation as a block to a queue (second thread)
[emailsQueue addOperationWithBlock: ^ {

    UIImage *thumbnail = [UIImage createThumbnailFromFile:fileName withWidth:310 usingMask:_mask];

    // Get

[2019-03-28 07:43] shubhendra-20 commented on #145
What if we use multithreading to generate thumbnails without blocking the UI. It should then not be overwhelming the data line.
This should work in a loop as follows:

[code]

[2019-03-28 07:55] iswiftshek commented on #145
We're already fetching images asynchronously, so the UI won't be blocked.

[2019-03-28 21:01] csoni111 commented on #43
This error and the one @cpg mentioned in this https://github.com/amahi/ios/issues/41#issuecomment-374482526, can be resolved now. Lightbox now [supports](https://github.com/hyperoslo/Lightbox/pull/182) option to set `preload` value which specifies how many images to preload when viewer is opened. By default it loads all at once, which make the app go out of memory if there are too many images in t

[2019-03-30 09:25] shubhendra-20 commented on #59
I came up with a UI for selecting subtitles.
How does it look?

<img width="666" alt="Screenshot 2019-03-30 14 52 45" src="https://user-images.githubusercontent.com/37156857/55274176-86011e80-52fb-11e9-88e5-e65728274fe5.png">

[2019-03-30 10:25] cpg commented on #59
It looks good. I would suggest using the [typical icon for CC](https://bd23.https.cdn.softlayer.net/80BD23/142.4.51.106/blog/wp-content/uploads/2008/01/subtitles-icon.png)

[2019-03-30 12:22] shubhendra-20 commented on #64
Would it not be better if swiping up/down in the right half portion of the screen controlled volume while in the left half adjusted brightness or contrast?

[2019-03-31 05:44] shubhendra-20 commented on #54
I worked on this. Kindly have a look.
<img width="667" alt="Screenshot 2019-03-31 11 12 25" src="https://user-images.githubusercontent.com/37156857/55285279-1c8a1a00-53a6-11e9-8631-503c1c7f553d.png">

[2019-03-31 09:46] codedentwickler commented on #71
So I don't think it would work as described above though, the user needs to login with their Username and Password.

Currently, I don't think the Amahi server supports login with fingerprint so it can't really replace the default username/password login now.

[2019-03-31 10:02] iswiftshek commented on #71
@codedentwickler Yes, right. So what I was thinking was, like, let's say the user gets logged out. Then maybe we can store the credentials and have them log back in using Touch ID instead of having them put in the userid/pass

But yes, the user will probably not be logged out and so this Touch ID feature doesn't really sound too relevant for now.

[2019-03-31 10:13] codedentwickler commented on #71
Okay, we could do that. But then we have to worry about hashing password since it is not advisable to store the raw password strings.

[2019-03-31 10:16] cpg commented on #145
Great job in implementing this in #146 @iswiftshek

[2019-03-31 10:16] #145 closed

[2019-04-01 03:05] obitodarky opened #150 "Swift whole module optimization"
Here is a warning which I have been receiving for some time now.

![Screenshot 2019-04-01 at 8 27 15 AM](https://user-images.githubusercontent.com/21317964/55301117-8bc04680-5458-11e9-89eb-de38bec4b709.png)

Turns out Whole Module Optimization allows the optimizer to analyze across all the source files in a module to increase compilation times.

More on this [here](https://useyourloaf.com/blog/swi

[2019-04-02 09:49] ZiyadKhalil commented on #40
Hi @cpg ,
Can you remove the on hold and enhancement labels since the app now has a video player?

[2019-04-02 11:34] ThisIsNSH commented on #123
@cpg @csoni111 I am working on it. 👍

[2019-04-02 13:05] ThisIsNSH commented on #123
@csoni111 I am creating new ViewController with suggested features by @cpg for audio instead of AVPlayerViewController. Are we okay with this?

[2019-04-03 13:05] csoni111 commented on #123
Yes that would be ok!
Instead of writing the whole audio player from scratch, it would be better to leverage some popular library. See if you can find one. @ThisIsNSH

[2019-04-06 12:13] cpg opened #155 "offline implementation cleanup so that files have no ties to origin"
Update the offline implementation so the offline files have no ties to where they are downloaded from

[2019-04-06 12:16] codedentwickler commented on #155
I will work on this next.

[2019-04-07 13:14] eddyteddy3 opened #156 "Implementation of Thumbnail Preview"

[2019-04-07 13:19] iswiftshek commented on #156
What is this issue for? Please share something in the description @eddyteddy3

[2019-04-07 13:37] eddyteddy3 commented on #156
I saw this on the project list under AMAHI iOS App while applying for GSoC. how can i find mentor for this ? @iswiftshek

[2019-04-07 14:43] iswiftshek commented on #156
This feature has actually been done already #149

Anyways, how about you join Amahi's [IRC channel](https://www.amahi.org/community)?
You can talk about GSoC, speak to the mentors and have any discussion there.

[2019-04-08 16:40] iswiftshek commented on #59
I thought of a UI for the video player. Though the notion of using a direct subtitles button sounds good (@shubhendra-20 , looks great), but it will make the screen look kind of over packed at the top with other buttons like Cast, Share, Metadata, Audio Track.

How does this look?

![Screenshot 2019-04-04 at 12 49 50 AM](https://user-images.githubusercontent.com/31038198/55740202-354e9b80-5a48-11e

[2019-04-13 08:35] cpg opened #161 "updating the pods yields various errors"
I am stuck in a pod black hole.

I had to update my working environment to be able to compile the app. xcode was complaining that the pods were out of sync and needed to be installed. I had trouble with the pod command. Then I decided to reinstall cocopods because the pod command was clearly busted. The next error I was getting was:

[code]
and I could not find a way to fix this at all. Even reins

[2019-04-13 10:44] codedentwickler commented on #161
@cpg Looking into this issue.

[2019-04-13 17:37] csoni111 opened #163 "No such module 'xxx' compilation error in Xcode"
![z_wkx3Ah](https://user-images.githubusercontent.com/15021142/56083308-c060d480-5e40-11e9-9b3f-c303393e2c3c.png)

[2019-04-13 17:47] csoni111 commented on #163
There could be several possible reasons for such an error. Few possible solutions:
- You forgot to run `pod repo update` -> `pod install`
- Pods are installed but still getting the error, try restarting Xcode
- You accidentally opened the project with `.xcodeproj` file instead of `.xcworkspace` (more on this [here](https://stackoverflow.com/a/30809758))

[2019-04-13 17:47] #163 closed

[2019-04-13 17:55] csoni111 commented on #161
**To reinstall cocoapods:** https://stackoverflow.com/a/48335801

**For `CocoaPods could not find compatible versions for pod "xxx"`:** Run `pod repo update` -> `pod install`

**For `no such module 'xxx' errors`:** https://github.com/amahi/ios/issues/163

**For `SWIFT_VERSION '5.0' is unsupported, supported versions are: 3.0, 4.0, 4.2. (in target 'xxx')`:** https://stackoverflow.com/a/55585598

[2019-04-13 17:57] cpg commented on #161
It was because I [opened the wrong file](https://stackoverflow.com/questions/30809206/cocoapods-pod-install-modules-cannot-be-imported) when opening Xcode. I should have opened it by clicking `AmahiAnywhere.xcworkspace`

[2019-04-13 17:58] #161 closed

[2019-04-21 09:54] cpg opened #167 "URLs with + in the original file seem to fail to open"
I think long URLs are not working.

Once a folder, file and various parameters like session are added, I found that URLs can be fairly long. I came across one that by the time the `GET /XYZ` gets to the server, the `/XYZ` is 245 chars long.

I do know that the file is a playable `mp4`, however, when trying to open the file in the app, it tries to open it and it abruptly stops.

I don't have a way

[2019-04-21 13:49] cpg commented on #167
never mind, it looks like it's a [server isue](https://github.com/amahi/amahi-anywhere-fs/issues/21)

[2019-04-22 21:17] cpg commented on #167
Looks like [it may be client related](https://github.com/amahi/amahi-anywhere-fs/issues/21#issuecomment-485517449), not related to lenght but proper escaping of URLs.

[2019-04-22 21:32] codedentwickler commented on #167
Okay, I'll look into this.

[2019-04-23 01:06] #167 closed

[2019-04-29 10:16] cpg opened #172 "support for flac files"
I came across a `.flac` file that I wanted to play and the app choked on it. I thought we supported it.

`FLAC audio bitstream data, 16 bit, stereo, 44.1 kHz, 166415172 samples`

(I can't see the log at the moment -- maybe we can find some public file to debug/test with)

[2019-04-30 11:46] cpg commented on #114
- [x] When a file from a share is available downloaded already there is an option to "Make unavailable Offline". Aside from the U in unavailable being downcase, this does not appear to work

[2019-04-30 16:52] codedentwickler commented on #114
Noted @cpg. I will look into this.

[2019-04-30 20:03] codedentwickler commented on #114
@cpg , I think I should remove the "Make unavailable offline" option since we don't want the offline files to have ties to server files.

[2019-04-30 20:53] codedentwickler commented on #172
Looking into this issue. I have downloaded a sample .flac file online.

[2019-05-02 08:37] codedentwickler commented on #172
I figured out the issue and found a fix.

The issue is that all audio files are currently played with the default iOS `AVPlayerViewController` to enable remote control from control center. Because the .flac format is a special type of compressed file, the default `AVPlayerViewController` does not support playing such file, that is why it choked on it.

VLCKit on the other end support playing such

[2019-06-08 15:58] cpg commented on #156
I looked into caching/perf issues with music artwork images

1) the artwork images (for mp3 files) take a bit to reload when I reopen the app
2) the server sees accesses for the mp3 file (at full size, according to the log, but it could be just a fraction of the file, because the logs do not reflect that)
3) the console says, over and over, every time `["Audio Thumbnail for http://IP/files?s=Music

[2019-06-09 20:24] iswiftshek opened #181 "Odd behavior in Downloads"
![GIF-2019-06-09-16-30-57](https://user-images.githubusercontent.com/31038198/59163586-82bab800-8b20-11e9-878d-d24af05e4d99.gif)

To reproduce this behavior, delete a file in downloads while another file is being downloaded. The thumbnail of the deleted file will try to become the thumbnail of the ongoing download as shown above until downloading is complete.

[2019-06-14 09:26] iswiftshek opened #183 "Improvements in the Music Player"
The music player has all the basic features (#180) like repeat, shuffle, next, prev, playback from control screen and lock screen, but there is a lot of scope for improvements for better user experience.

**Improvements to be done**

- [ ] Cache the Artwork
- [x] Fix the jumpy time slider
- [ ] The slider on the lock screen/control screen changes the position of the file playing, but the changes i

[2019-06-14 09:32] iswiftshek commented on #123
Closing this issue as mentioned work is done in #180
Refer to #183 for more on the music player.

[2019-06-14 09:32] #123 closed

[2019-06-15 10:41] #150 closed

[2019-06-15 11:40] cpg commented on #150
How critical or important is WMO?

[2019-06-17 09:35] cpg opened #185 "Sliding volume control behaves badly"
The on-screen sliding-finger volume control is not behaving well:

 - [x] It's very easy to lower the volume to zero accidentally. I am not sure how I did it, perhaps trying to scrobble or something. (this is quite annoying)
 - [ ] It's quite delayed. It takes a large fraction of a second for the volume to follow the on-screen message

[2019-06-26 10:45] #185 closed

[2019-06-27 11:38] cpg commented on #181
I believe I have seen this one before. Good catch.

[2019-07-02 13:14] cpg opened #191 "Show available space for downloads"
We should find a way to show the available space for downloads.

One simple place to show it would be in the line underneath the "Clear Temporary Downloads" which at the moment just says `Current size: XYZ KB` and could also feature (separated by a middot with spaces or similar) `Available size: ABC KB`

[2019-07-02 13:16] cpg opened #192 "Downloading whole folders?"
It may be handy to download whole folders (and keep their structure).

Not too sure how I feel about this one, though I have needed it in the past.

It may require some server-side support.

[2019-07-03 08:14] cpg commented on #41
Do we know where are we on this?

[2019-07-03 08:17] cpg opened #194 "Issues updating SDWebImage to 5.x"
The `SDWebImage` pod needs to be updated (currently from 4.4.6 -> 5.0.6) and the change causes some build-time errors:

![Screen Shot 2019-07-03 at 10 15 24 AM](https://user-images.githubusercontent.com/9907/60575342-a79af780-9d7b-11e9-82a9-dea4a2d2498a.png)

[code]

[2019-07-03 22:05] Marton-Zeisler commented on #191
and what is the available space for? How much space is left on the HDA server?

[2019-07-03 23:17] cpg commented on #191
No on the phone, so one can tell how many files/space one can take on the go

[2019-07-06 09:53] cpg commented on #181
Actually, this happens without deleting any file in downloads.

One way to reproduce this flickering is to 1) have some file(s) in downloads already, 2) start downloading a (non-trivial) file (so it takes time and you can experience this) and 3) go to the downloads area. The file is downloading ok, but

 * the icon seems to be from one of the existing downloads (not necessarily the latest download

[2019-07-06 11:16] Marton-Zeisler commented on #194
This has been fixed, so this issue can be closed :)

[2019-07-06 11:16] #194 closed

[2019-07-06 16:11] iswiftshek commented on #181
Right. And it seems to be flickering randomly, like, it could take any one icon from the list or it could take 2, 3.. at random

[2019-07-10 12:26] #40 closed

[2019-07-11 01:35] #181 closed

[2019-07-16 08:44] Marton-Zeisler opened #205 "Music Player gestures"
The following feature is needed:

- User can swipe left/right on the thumbnail image to move to the next/previous track, it would be like Spotify so if you release the swipe gesture too early then nothing will happen

To do that, the audio player should have a list of all the music files from the selected folder so it can load the thumbnails. These thumbnails are already loaded when the user opene

[2019-07-21 09:50] Marton-Zeisler opened #211 "Crash during file download when trying to cancel the download"
1. Start downloading a file.
2. Go to downloads
3. Try to tap on the file a few times to bring up the options menu and hit on cancel download

![Image from iOS](https://user-images.githubusercontent.com/19313231/61589672-ab1ce400-abad-11e9-9969-3747f86d2f15.png)

[2019-07-22 18:13] #211 closed

[2019-07-26 07:21] csoni111 opened #216 "Use of thumbnails instead of full image in files list/grid view"
Our backend server now supports generating 100 x 100 px (approx) thumbnails for all image files. We can use those thumbnails instead of the loading the full image in the list or grid view showing all files in a directory.
Docs for this are available [here](https://github.com/amahi/amahi-anywhere-specs#reading-files) under cache element. More on this is present [here](https://github.com/amahi/amahi

[2019-07-26 07:27] csoni111 commented on #216
We can also use these thumbnails to show a blurred preview of the image while loading the original image in background in full screen. This can be done by showing a blurred and scaled version of the thumbnail in place of the original image when the image viewer is opened and as soon as the original image is loaded, replace the thumbnail with the original image.

[2019-07-28 07:40] #191 closed

[2019-07-28 19:38] csoni111 commented on #43
@iswiftshek can you please implement the above changes mentioned in the previous comment, so that the app does not load all the images at once.

[2019-07-28 19:48] csoni111 commented on #41
@cpg as far as I remember, the issue with pfe not being able to send content over 65kb (approx) was resolved when we switched from SPDY to HTTP2 on PFE server. Just for being sure, I tested it again locally, and it works perfectly fine. So this issue can be closed now.

[2019-07-30 22:20] csoni111 opened #221 "Non Admin User and PIN based login"
On HDA level we can have several users and can control permissions (read/write) for each one (which shares are accessible to whom). But currently, we do not have HDA user level authentication in the app. Anyone logged in with the amahi.org credentials can view/access all the shares and files in the HDA.

So need to implement **Non Admin User** (NAU) login and authentication in the app. This is to

[2019-07-30 22:28] csoni111 opened #222 "Direct PIN based login for local NAU"
Continuing from #221 :
#### 2. Direct PIN-based login for a local non-admin user, without providing amahi.org credentials.
- This will be based on top of work done for #221
- A direct link to the PIN login screen will be shown on the main login screen
- Without providing the amahi.org credentials, a user can directly go the PIN login screen and provide a PIN to directly login into a nearby HDA ava

[2019-07-31 14:46] csoni111 commented on #221
One note which I forgot to mention, the `Welcome To Amahi` HDA has to be bypassed from this pin authentication.  For this, the pin need not be taken from the user. Instead, any PIN will work in the /auth call and will give a valid authentication token.

[2019-08-10 09:25] iswiftshek opened #228 "App crashes when playing multimedia in iOS 13"
Looks like in iOS 13 Apple has done a few changes that causes the app to crash when we play a music/video file.
![Image 10-08-19 at 11 24 am](https://user-images.githubusercontent.com/31038198/62820086-fad34780-bb7c-11e9-8311-09a57ac486d9.JPG)

It comes from the MPRemoteCommand(s) in `AudioPlayerViewController.swift` & `VideoPlayerViewController.swift`

[2019-08-10 09:31] cpg commented on #228
Just to be clear. The fix has to work on prior versions of iOS, ideally without the app having to check the OS version.

[2019-08-10 19:07] #221 closed

[2019-08-10 19:07] #216 closed

[2019-08-10 19:13] Marton-Zeisler opened #230 "PIN Feature UI Changes"
The following changes need to be done:

1. Change navigation bar title  to "PIN Access"

2. Change the description on the top to "Please enter your HDA's PIN"

3. Change submit button to "" ? (Maybe "Login"?)

4. Add a description for lost users under the submit button. It should say ""?

5. Change login alert message to ""?

6. Change expired token alert message to ""?

[2019-08-10 19:14] Marton-Zeisler opened #231 "LAN/Remote Indicator"
We need to display the current mode to the user to avoid confusion.

It's not very good UX that the user has to go to the settings to check the selected mode every time.

[2019-08-10 19:16] Marton-Zeisler opened #232 "Better automatic LAN/Remote detection algorithm"
The current implementation is not 100%. We need a better version.

[2019-08-13 10:31] cpg commented on #230
Updated the above

[2019-08-13 20:08] Marton-Zeisler opened #235 "Auth token missing for thumbnail URL generation"
App can't generate the thumbnails as the auth toke is missing from the parameters.

[2019-08-14 08:02] cpg opened #237 "bad temporary thumbnails are being generated"
When a user goes into a folder with (say) a dozen movies, the thumbnail for some movie that happens to be generated first is used for other movies.

Not sure the order, but some file starting with R got their thumbnail done before one starting with A. The file starting with A has no thumbnail, then .. it surprisingly gets the thumbnail of the file starting with R, which is obviously the wrong thum

[2019-08-18 18:51] iswiftshek commented on #237
I'm not able to reproduce this.
In issue #190, we had the problem of thumbnail regeneration which also caused the disappearance of thumbnails on scrolling, but seems like it's working fine now (thumbnails.
I tested: a folder containing 50+ images, a folder containing 20+ songs, a folder containing 15+ videos & a folder containing several file types.

@Marton-Zeisler could you check and see if you'

[2019-08-18 19:41] Marton-Zeisler commented on #237
I was testing the app too but couldn't see this bug yet.

[2019-08-24 00:49] csoni111 opened #242 "Add User-Agent header with every request"
User-Agent header needs to be added to every request that is made.

Ref.: https://github.com/amahi/amahi-anywhere-specs#identifying-the-client-to-api-endpoints

[2019-08-24 01:00] csoni111 opened #243 "Show/Hide delete and upload buttons according to writable status of the share"
The `/shares` response JSON contains the list of shares visible to the user along with their writable status. The writable field denotes if that share is writable or not for the logged-in user. Client app must appropriately display/hide the Upload or Delete button as per the value of the writable field for a given share.

Ref: https://github.com/amahi/amahi-anywhere-specs#shares

[2019-09-07 07:31] cpg opened #246 "close button should be on the left"
Based on an informal check, the close button (or Done in some apps), is on the left side of the screen on most apps, including non-multimedia apps. This appears to be the standard.

We should swap our top two buttons (close button and menu).

[2019-09-07 07:38] cpg opened #247 "When an alarm goes off, the player appears to lose audio and wobble play"
The player is playing a movie. If an alarm comes in during that time, the player appears to lose audio and wobble play.

We thought we had this behavior fixed in the past, but it's not working well.

To reproduce, set a 30 second alarm and play a movie.

[2019-11-13 17:15] anubhavsingh16 opened #249 "pod install error"
Analyzing dependencies
Cloning spec repo `cocoapods` from `https://github.com/CocoaPods/Specs.git`

stuck on cloning spec repo.

@aljachimiak @cpg @megabitdragon @sukhbir-singh

[2019-12-18 12:09] codedentwickler commented on #249
Hi, @anubhavsingh16 hope you have fixed this issue now.

[2019-12-18 13:08] anubhavsingh16 commented on #249
@codedentwickler actually no I can't fixed
Showing Recent Issues
/Users/anubhavsingh/ios/AmahiAnywhere/Pods/Target Support Files/Pods-AmahiAnywhere/Pods-AmahiAnywhere.debug.xcconfig: unable to open file (in target "AmahiAnywhere" in project "AmahiAnywhere")

[2019-12-19 11:04] codedentwickler commented on #249
Do a clean.
Close Xcode.
Navigate to project directory where the Podfile exist.
Do pod update/pod install
Open `AmahiAnywhere.xcworkspace`

[2019-12-21 12:35] MANI14011998 commented on #249
@anubhavsingh16  hey Buddy
I am too facing the same problem so i Just update the CocoaPod Version or pod version plus
and it works.

[2019-12-21 16:07] anubhavsingh16 commented on #249
ok I'm going to try again

[2019-12-21 16:08] anubhavsingh16 commented on #249
okk i will try

[2019-12-22 07:59] anubhavsingh16 commented on #249
@codedentwickler @MANI14011998 thanks finally build successfully😍

[2020-01-08 13:09] pushpinderpalsingh commented on #246
Here, which buttons are we talking about?

[2020-01-09 09:19] anubhavsingh16 commented on #246
@cpg if you are taking about Done button in VideoPlayer then it is already on the left side.

[2020-01-10 18:15] anubhavsingh16 commented on #183
What about this issue?

Is it still open?

[2020-01-11 15:36] harshitjindal opened #255 "Fix Swift Compiler Error"
Initial build fails with error "Call can throw, but it is not marked with 'try' and the error is not handled" in AmahiAnywhere/Managers/ConnectionModeManager.swift > `Reachability()`.

Using Xcode 11.3, here's a screenshot.
<img width="1440" alt="Screenshot 2020-01-11 at 9 05 47 PM" src="https://user-images.githubusercontent.com/11704992/72206619-379dc480-34b6-11ea-9060-d5584b508e84.png">

[2020-01-13 06:34] pushpinderpalsingh commented on #255
already fixed by @anubhav16 in pr #250

[2020-01-14 07:22] anubhavsingh16 opened #260 "Pods section is not updated"
In the README, pods section is not updated three pods not listed in the master branch
1- Cache
2- Imaginary
3- ReachabilitySwift

[2020-01-18 19:42] anubhavsingh16 opened #262 "Show the current volume on the screen"
The issue is that when we Increase or Decrease the Volume of Music it can't show the current volume on the screen.

[2020-01-22 05:10] anubhavsingh16 opened #264 "Enable Dark Mode in Login Page and Launching Screen"
Login Page which is the first page of Amahi-ios is same in Dark as well as Light mode. I think if we change the colours completely then it looks more beautiful in Light mode. And we use the current login page as a Dark mode.

Dark Mode is a supplemental mode that can be used to display mostly dark surfaces on the UI. The design reduces the light emitted by device screens while maintaining the mini

[2020-01-22 20:14] anubhavsingh16 commented on #264
solve in pr #265, can I change for all other pages(settings, Home, Connection etc.)

[2020-01-26 11:23] aviralx10 commented on #249
hey @anubhavsingh16 facing the same issue.. always get stuck on cloning spec repo...
can you please tell how to cope with this issue?

[2020-01-26 12:13] anubhavsingh16 commented on #249
@aviralx10 I explain this in my PR #251

[2020-01-26 13:18] aviralx10 commented on #249
@anubhavsingh16 thnx ..figured it out

[2020-01-26 13:58] anubhavsingh16 commented on #260
done in Pull Request #261

[2020-01-26 17:00] aviralx10 opened #266 "App Crashes When I try to login"
The App crashes immediately when I try to login on the simulator .. even though I m able to login on my phone...This error keeps on coming.. pls help..
Fatal error: You may need to get dev credentials to be able to properly login into amahi.org

[2020-02-03 04:28] vaibhavbisht06 commented on #246
@cpg There is no such Close button, yeah there is done button which is already in fixed.

[2020-02-03 04:34] vaibhavbisht06 commented on #266
**@aviralx10**  The app crashes immediately when you try to log in on simulator. and give you an error:  You may need to get dev credentials to be able to properly login into  **amahi.org**
You need to mail to amahi.org asking them for Developer credentials and paste them over **ApiConfig** file.
**Remove your credentials before committing the code.**

[2020-02-03 04:34] anubhavsingh16 commented on #246
Ok

On Mon, 3 Feb 2020, 09:58 the-Ripper, <notifications@github.com> wrote:

[2020-02-03 10:11] aviralx10 commented on #266
thank you :)

[2020-02-06 14:51] kartiktola opened #269 "Pods installation issue in arising while installing pods of podFile"

[2020-02-06 17:09] kartiktola commented on #269
**@vaibhavbisht06** Thanks, this really helped me

[2020-02-07 18:37] anubhavsingh16 opened #271 "Requesting App Ratings"
As a user If I want to give a rating this app, I need to go to the app store to give ratings.
I need to displays an in-app prompt that asks for a rating.

With the help of apple official API StoreKit, we call the SKStoreReviewController An object that controls the process of requesting App Store ratings and reviews from users.

In which the system offers a consistent, nonintrusive way for apps to

[2020-02-07 18:43] anubhavsingh16 commented on #271
I'm working on this issue.

[2020-02-07 18:44] anubhavsingh16 commented on #271
#272 and some part is solved in this Pull Request.

[2020-02-14 11:58] anubhavsingh16 opened #273 "Change lowercase to uppercase"
In the Demo mode of 'Welcome to Amahi' HDA first letter of every list is in lowercase.
If we change the first letter of all headings it looks more decent and Professional.

**Change lowercase to uppercase**

![typeCasting](https://user-images.githubusercontent.com/47811606/74528311-fd5c9280-4f4d-11ea-936f-5f1b321865ae.png)

[2020-02-19 21:01] anubhavsingh16 opened #274 "Set minimum iOS support to 11.0"
### Description
As a developer,
I want to set the minimum iOS support to iOS 11,
so that I can remove unnecessary code and take advantage of newer iOS features.

### Notes:
As of January 30, 2020, 93% of iOS devices are running iOS 12 or iOS 13. (iOS tends to have a high rate of upgrade adoption.) Moving to iOS 11 will enable us to take advantage of new layout features in iOS 11+.

**Update [Requi

[2020-02-19 21:02] anubhavsingh16 commented on #274
I'm working on this issue.

[2020-02-21 23:21] anubhavsingh16 opened #275 "Enable dynamic background for image view"
For image view, we use the lightbox framework. A convenient and easy to use image viewer for your iOS app. Lightbox has a beautiful feature dynamic background for the image.

I think after enable this feature image view looks more beautiful and unique.

[2020-02-23 10:37] anubhavsingh16 commented on #247
@cpg I'm working on this issue.

[2020-02-23 10:39] anubhavsingh16 commented on #228
@iswiftshek  I can't find any problem when I play videos in iOS13

[2020-02-23 11:36] #274 closed

[2020-02-23 11:36] anubhavsingh16 commented on #274
sorry I can't see beta branch

[2020-02-23 14:11] vaibhavbisht06 commented on #237
I have tested this app on two different devices.
That folder contained 23 images and 10 songs in one folder. I think this issue is resolved by the Pull request made by @iswiftshek

[2020-02-26 12:55] anubhavsingh16 commented on #228
@cpg @iswiftshek I'm working on this issue.

[2020-02-27 19:13] anubhavsingh16 opened #278 "App freeze when open photos"
# Description
The app is freeze when the app opens any Photo from the gallery.
But code is still running in debug area.

## Mocks

![amahi issue](https://user-images.githubusercontent.com/47811606/75477750-cad97d80-59c2-11ea-8c0a-d7c199914eb6.png)

[2020-02-27 19:15] anubhavsingh16 commented on #278
I'm Working on this issue.

[2020-02-29 06:26] isaeef commented on #232
@Marton-Zeisler can have more detail information on this issue, I want to work on this issue

[2020-03-09 08:11] yugantarjain opened #281 "Sign In Error on Login Page"
I'm unable to sign-in on the Amahi iOS app master branch, any help would be appreciated.
Simulator Used: iPhone 11 Pro Max - 13.3

My login credentials are working perfectly on the Amahi app on the App Store.
However, when I build the project locally on my device a network error occurs while signing in.

Based on the error message I've realised it is a GENERIC_NETWORK_ERROR as used in the LoginPre

[2020-03-09 14:23] anubhavsingh16 commented on #281
Hi @yugantarjain This is not an issue you need correct credentials for login.

[2020-03-09 20:16] ShresthPratapSingh opened #282 "Settings Screen transition animation inconsistent with the hamburger button"
The hamburger button is present on left while the settings screen transitions from the right side This is bad UX and feels odd.(refer Gif)
![issue gif](https://user-images.githubusercontent.com/32341862/76253539-de150480-6270-11ea-827b-7a6353562466.gif)

[2020-03-09 20:16] ShresthPratapSingh commented on #282
I'm working on this issue

[2020-03-09 20:20] ShresthPratapSingh commented on #205
@Marton-Zeisler  I want to work on this?

[2020-03-26 08:04] ShresthPratapSingh opened #283 "App crashes during launch on iOS 13.3.1 devices"
On building the app on iOS 13.3.1(iPhone 8 plus) device app crashes during launch with the debug description as shown below. I tried building the app on iOS 12.4.1(iPhone 7) it works fine.

**Debug Description :**
**dyld: Library not loaded: @rpath/Alamofire.framework/Alamofire
  Referenced from: /private/var/containers/Bundle/Application/96785ED0-198D-4E8B-95A5-EA22305F205E/AmahiAnywhere.app/Amah

[2020-03-26 11:49] anubhavsingh16 commented on #283
@ShresthPratapSingh Because of your Podfile is of the master branch this issue arrives. To solve this issue you have to copy the Podfile of beta branch.

[2020-03-26 19:16] #262 closed

[2020-03-28 13:01] rollno0111 opened #284 "Project pods setup and version issue in Xcode 11.3.1 and swift 5"
Pods are neither installed not updated using the current pod file. So I want the resolve #284 issue.

**Steps to reproduce:**
1. Clone the project.
2. Go into the project directory "AmahiAnywhere" using Terminal, and run pod install or pod update. None will work.
3. If the source in pod file is removed, then both of these commands work but there's an issue with Alamofire version. since Alamofire i

[2020-06-11 09:38] cpg opened #289 "playing music crashes the app"
In the latest `beta` branch and with the latest pod updates, we get this crash when trying to play music files
[code]

[2020-06-11 11:15] ShresthPratapSingh commented on #289
@cpg I'll be working on this issue and resolve this in a seperate PR. Basically the API for AVPlayer needs to be updated for iOS 13. It shall work on devices running below iOS 13 for now.

[2020-06-16 13:01] cpg commented on #289
Note: it appears to happen on video reproduction as well (including ones handled with VLCKit).

[2020-06-22 13:10] chirag-jn opened #296 "Firebase Analytics and Crashlytics"
**Feature Request**
We can connect Firebase Analytics and Crashlytics to monitor real time activity and crashes. That way we can fix them in future releases easily.
Analytics and Crashlytics are offered as free services in Firebase.

Reference:
1. https://firebase.google.com/docs/crashlytics/
2. https://firebase.google.com/pricing

[2020-06-23 16:07] #249 closed

[2020-06-23 16:08] #260 closed

[2020-06-23 16:08] #264 closed

[2020-06-23 16:09] #275 closed

[2020-06-28 09:10] anubhavsingh16 opened #299 "Update Recent file UI"
## Description:
Recent file UI is not updated with dark and light mode, we have to update UI of Recent file so Recent file Ui tune-up file other UIs.

## Acceptance Criteria
### Update [Required]
- [x] [new color set]
- [x] [new icons for light mode]

[2020-06-30 17:05] anubhavsingh16 opened #303 "Update in Tab bar"
# Description:
I think we need to improve our tab bar controller UI for better user experience and for that I need to add some animations and new color code.
I want to use [BATabBarController](https://antiguab.github.io/batabbarcontroller/) with color set light grey and red. I want to use secondary color Red because only Red and blue color is best with the dark and light mode of our Amahi-iOS app.

[2020-06-30 17:05] anubhavsingh16 commented on #303
@cpg Can I work on this?

[2020-07-02 19:32] cpg opened #305 "Pull down to refresh lost in HDAs page"
At the moment I cannot see my HDAs and I tried to do a pull-down-to-refresh and it appears that is gone.

For some reason, when trying to evaluate and merge #302 in the simulator, I get no HDAs. I get these cards that pull down that somehow I did not review well enough, as this case is not good for the user, who is left wondering what to do.

[2020-07-02 22:08] #242 closed

[2020-07-02 22:52] cpg opened #307 "when playing music horizontally, the app loses the right side of the UI after closing the music player"
when playing music horizontally, the app loses the right side of the UI after closing the music player, which was launched vertically, which may be a related bug (not sure).

the footer is immediately lost.

doing it again (and again) leads to more loss of part of the screen!

[2020-07-05 19:15] #6 closed

[2020-07-05 19:15] #81 closed

[2020-07-05 19:17] #183 closed

[2020-07-05 19:18] #255 closed

[2020-07-05 19:19] #266 closed

[2020-07-05 19:20] #269 closed

[2020-07-05 19:20] #271 closed

[2020-07-05 19:22] #281 closed

[2020-07-05 19:23] #283 closed

[2020-07-05 19:23] #284 closed

[2020-07-06 11:57] cpg commented on #305
Once the header issue has been solved, we are left with the core question in this issue. Is a good compromise to remove this functionality in exchange for the nicer (maybe?!) UI?

[2020-07-06 12:04] FelSlade opened #309 "No Activation Email"
Hiya Amahi Team

Am to get Amahi from the Website, I register <MyUserName>.yourhda.com and set a Password. I hit the Start Now Button..... Nothing, No Email in Main or Junk Mail.

Is there a way to help me with this please.

Kind Regards
FelSlade

[2020-07-11 10:40] #289 closed

[2020-07-12 12:16] #299 closed

[2020-07-12 12:16] #278 closed

[2020-07-13 12:02] #228 closed

[2020-07-13 12:45] cpg commented on #307
This was fixed in #294 .. great going.

[2020-07-13 12:45] #307 closed

[2020-07-13 13:33] cpg opened #313 "When the music player opens and the song is played, it restarts the first song after exactly 10 seconds"
I am not 100% sure what are the conditions of this, however, when the music player opens and the song is played, it restarts the first song after exactly 10 seconds.

This happens at least when opening a song from the base, now when going to a song next, etc.

[2020-07-13 18:58] anubhavsingh16 opened #314 "Google Cast support"
Add new feature Google Cast SDK to extend the iOS app to direct its streaming video to a TV.  The app becomes the remote control to play, pause, seek, rewind, stop and otherwise control the media.

[2020-07-15 10:32] ShresthPratapSingh opened #315 "App Crash when trying to reload shares"
No shares are loaded in Welcome to Amahi server and app crashes when trying to refresh and load shares

![Screen Recording](https://user-images.githubusercontent.com/32341862/87534620-e6180180-c6b3-11ea-9cdf-7a3c288f5308.gif)

error message:

`[Error Domain=com.alamofirejsontoobjects.error Code=1 "Data could not be serialized. Input data was not json." UserInfo={NSLocalizedFailureReason=Data could

[2020-07-15 12:21] ShresthPratapSingh commented on #315
I've tried debugging the issue , here's what I've found :

The network call to get shares return a response code - 408 : (request timed out)

The call stack for the api request and endpoints are shown below:

![Network request Call Stack](https://user-images.githubusercontent.com/32341862/87543899-2af76480-c6c3-11ea-9242-f63e5d1e3fd5.png)

![Api request Params](https://user-images.githubuserconten

[2020-07-15 13:41] cpg commented on #315
If your HDA is not connected and you are accessing it through the Amahi VPN proxy, a `408` is appropriate, hence the app should not crash.

We do not recall having experienced this in the past, however, it sounds like a bug and a message should be displayed to the effect that the HDA could not be reached.

[2020-07-15 13:42] cpg commented on #315
This is the [spec for the 408](https://github.com/amahi/amahi-anywhere-specs#error-handling).

[2020-07-15 22:14] anubhavsingh16 commented on #315
I'm facing the same issue after remote update.

[2020-07-16 08:14] ShresthPratapSingh commented on #315
@cpg I can access the shares on my own hda server which is running from a VM but I can't access the default amahi demo server due to 408 now which I was able to access earlier(same issue is with @anubhavsingh16 i think). Any suggestions for how can we get the demo server working again?

[2020-07-16 20:38] cpg commented on #315
Let me be clear:

1. the app should not crash when a `408` return is appropriate, hence the app _should not crash_.
1. When one has a local HDA, it should access it directly, not through the VPN, but it any case, it _should not crash_.
1. We will be getting the VPN proxy up and running as soon as we can
1. the app _should not crash_

[2020-07-17 12:07] anubhavsingh16 commented on #315
Yeah, I understand this is not an app crash.

[2020-07-19 18:40] #303 closed

[2020-07-20 11:48] #315 closed

[2020-07-22 10:34] cpg opened #319 "music player does not follow the device orientation"
When watching movies, orientation is followed properly, however, this is not the case with the music player. It always stays vertical even if the device is horizontal.

[2020-07-22 11:08] cpg commented on #313
This appears to happen on initial play only, not after subsequent plays, once the player does it once.

[2020-07-22 11:15] cpg commented on #313
In some cases it happens after a fraction of a second, e.g. in the demo server music area.

[2020-07-22 14:39] cpg commented on #313
It appears that the album artwork is not loaded initially and then when it's restarted, the album art is loaded. Perhaps this is related to the album art?

[2020-07-23 13:47] cpg opened #322 "After the user is logged in successfully, the "card" that comes up still has the login page in the background"
After the user is logged in successfully, the "card" that comes up still has the login page in the background, instead of taking up the whole screen.

A user can bring down the main card and get back to the login screen. Terrible UX.

This happens at least in vertical mode and at least in iOS 13 (or 14 beta).

[2020-07-23 13:48] cpg opened #323 "New permissions requirement for Bluetooth in iOS 14"
Need new iOS permissions.

[2020-07-23 13:50] #323 closed

[2020-07-23 13:54] cpg opened #324 "recent files need to be able to be cleared"
The user should be allow to delete them from the list, for privacy as well as practical reasons (e.g. many files may no longer exist, there are too many recent files, etc.).

[2020-07-23 14:35] cpg commented on #322
This even persists while playing video (vertically).

[2020-07-24 15:30] ShresthPratapSingh opened #325 "Audio Player UI freezes for a few seconds on start"
**Describe the bug**
A list of `AVPlayerItem` passed to `AudioPlayerDataModel.swift` is processed in a for loop to extract the meta data. This takes considerable amount of time and the app freezes for this duration.
**To Reproduce**
Steps to reproduce the behavior:
1. Navigate to the share containing list of songs.
2. Tap on a song from a list.

**Expected behavior**
- Player should load a few son

[2020-07-24 18:21] anubhavpulkit commented on #313
I'm not facing this `restarts after 10 sec` issue anymore, But for me, the audio player takes to much time in loading and start playing music.

[2020-07-24 18:25] anubhavpulkit commented on #313
I test the audio player in iOS 11, iOS 12 and iOS 13 simulator.

[2020-07-27 10:00] ShresthPratapSingh opened #328 "Walkthrough screen UI breaks on rotation"
**Describe the bug**
Walkthrough screen UI breaks on rotating device as shown in the screenshot.

**To Reproduce**
Steps to reproduce the behavior:
1. Make a fresh install on iPad
2. Launch the app.
3. Rotate the device when on walkthrough screen.

**Expected behavior**
The UI should adapt according to the new screen bounds on device rotation.

**Screenshots**

![](https://user-images.githubuserco

[2020-07-28 10:41] cpg opened #331 "When playing music from the recent files, the up-next area appears to be in a high-cpu infinite loop"
**Describe the bug**
When going to the recent files, the user can play music from a recent file. The player comes up and the up-next area appears to be in a high-cpu infinite loop, probably because the what's next data structures are empty?

**To Reproduce**
Steps to reproduce the behavior:
1. Go to recent files (go to some music first and play it to insert it in recent)
2. Tap on a music file
3.

[2020-07-28 11:08] cpg commented on #31
We have worked on this on `beta` and it's mostly ready to release to our user base.

[2020-07-28 11:08] #31 closed

[2020-07-28 11:11] #41 closed

[2020-07-28 11:12] anubhavpulkit commented on #324
Can we Add swipe to delete method? like this
![issue](https://user-images.githubusercontent.com/47811606/88658515-31d59c80-d0f1-11ea-9dd4-9a30e35727b2.png)

[2020-07-28 11:16] cpg commented on #324
That is what I meant.

- I do not like the word `Delete` however. I think maybe `Clear` may be better (or `Remove`, but I am not sure; it also gives the impression of deleting/removing the file from the server)
- there is a download action, both there and in the pop-up menu. Why is it not there in your screenshot? Are you proposing deleting it? (bad idea)
- The `Clear` action also should be in the

[2020-07-28 11:26] anubhavpulkit commented on #324
Can we add a single button to clear all recent files? I think using a single button to clear all the files from the recent section is a good idea.

[2020-07-28 11:30] cpg commented on #324
It's not a bad idea and it's not incompatible. Individual files need to be cleared too.

[2020-07-28 11:37] cpg commented on #43
When a large folder of pics is loaded, it appears that the app crashes with a memory bloating issue (according to the debugger), however, the list itself does not seem to cause trouble (though I do not see thumbnails being created on the fly). We will track this separately. Closing for now.

[2020-07-28 11:37] #43 closed

[2020-07-28 11:38] cpg commented on #322
I believe this has been fixed in `beta` already.

[2020-07-28 11:38] #322 closed

[2020-07-28 11:38] anubhavpulkit commented on #324
Recent File clear methods:
- Individual files cleared option (by a swipe to clear)
- All files cleared by clicking a single button

[2020-07-28 11:38] #46 closed

[2020-07-28 12:11] cpg commented on #54
Merged

[2020-07-28 12:11] #54 closed

[2020-07-28 12:14] cpg commented on #59
Merged in #184

[2020-07-28 12:14] #59 closed

[2020-07-28 12:15] cpg commented on #64
Most of it is merged in #144

[2020-07-28 12:15] #64 closed

[2020-07-28 12:17] cpg commented on #94
Fixed recently in #316

[2020-07-28 12:17] #94 closed

[2020-07-28 12:17] cpg commented on #99
This is working now. Closing.

[2020-07-28 12:17] #99 closed

[2020-07-28 12:18] cpg commented on #101
Working well, merged in #143 and #139

[2020-07-28 12:18] #101 closed

[2020-07-28 16:38] cpg commented on #105
Will fix after beta stabilization

[2020-07-28 16:38] #105 closed

[2020-07-28 16:38] #114 closed

[2020-07-28 16:40] cpg commented on #116
This never happened. We have ended up with a worse system than what we had in the original app. Closing for now as we need to focus on releasing a stable beta.

[2020-07-28 16:40] #116 closed

[2020-07-28 16:40] #155 closed

[2020-07-28 16:41] #156 closed

[2020-07-28 16:42] #172 closed

[2020-07-28 18:19] anubhavpulkit opened #332 "Search textfield is not working"
## Description:
The search text field of the navbar is not taking input. Inside shares when we try to tap on the search text field then Sort options pop-up.

## Screen Recording:
![video-to-gif-converter](https://user-images.githubusercontent.com/47811606/88705130-bc87bd00-d12c-11ea-942c-9aca14708e58.gif)

[2020-07-29 11:28] ShresthPratapSingh commented on #331
Yes, I think it would be better UX wise to not show “up next” queuing  for files in recents tab.

Reason behind this:
In the current implementation when a user taps on a file in recents tabs all the files are scanned in a loop  in which `mimeType == "audio"` and then queued in the DS for audio player to play.

If we really want to show up next then we should have a hybrid player that supports imag

[2020-07-29 11:39] anubhavpulkit commented on #247
@cpg It is already solved.

[2020-07-29 11:57] #273 closed

[2020-07-29 12:11] #328 closed, assigned to nobody

[2020-07-29 19:17] anubhavpulkit commented on #324
![clear](https://user-images.githubusercontent.com/47811606/88842833-c1687180-d1fd-11ea-9f08-7f1c7dcb0314.png)  ![clear 2](https://user-images.githubusercontent.com/47811606/88842857-cb8a7000-d1fd-11ea-8063-097b9122e9da.png)

@cpg Which one is better swipe 1. `right to left` or 2. `left to right`
In my personal opinion 2. `swipe left to right` is better one.

[2020-07-30 05:02] ShresthPratapSingh opened #335 "Video Player Icons not visible in light mode"
### Description
The cross icon and the more icon in video player are not properly visible because they are camouflaged with the background.

### How to reproduce
1. **Switch to light mode**.
2. Play a video in player.

### Screenshots
![](https://user-images.githubusercontent.com/32341862/88882458-a1619e00-d24f-11ea-9a9d-b5cf3882a02d.PNG)

![](https://user-images.githubusercontent.com/32341862/888

[2020-07-30 09:21] #324 closed

[2020-07-30 12:45] anubhavpulkit opened #336 "Update in UI"
## Description:
Through this Ui update, I'm trying to use vacant spaces in a productive way.

## Changes are:-

## 1. Changes in Recent File UI.
If we use the navigation bar to `search and layout changes` then we use good amount of vacant space in productive way.

![recent file](https://user-images.githubusercontent.com/47811606/88921333-f7eccd80-d28b-11ea-98e5-9b1a5dcfa674.png)  ![recent 1 4](htt

[2020-07-30 12:49] #314 closed

[2020-07-30 14:47] anubhavpulkit commented on #336
And another option for Changes(update) in Recent file, offline section and the folder is to add `search bar, layout button and sort button` in the scroll view so when user scroll files then these elements also be scrolled up.

[2020-07-30 17:10] #325 closed, assigned to ShresthPratapSingh

[2020-07-30 17:34] cpg opened #337 "Selecting "share" on a large file cannot be cancelled"
There are a couple of related bugs in this issue.

1) UX bug: accidental selection to "share" a large file cannot be cancelled. It can leave the app unresponsive while a full modal message about downloading the file is on the screen, without the ability to cancel. The next avenue for a confused user (It happened to me when I accidentally slid too far on a file and automatic share started) is to cl

[2020-07-30 20:30] anubhavpulkit commented on #332
This bug is Only present in SE 2nd generation device.

[2020-07-30 21:23] cpg commented on #332
It is available in newer devices.

It is in fact a horrible implementation at this point. There are at least five or more bugs related to this:

- unresponsive search box -- tapping on it yields no keyboard at all (nothing) or the sort selector
- responsive box, but only in landscape mode
- duplication or triplication of the search icon at the top right, each time a rotation happens, one new icon

[2020-07-30 21:34] anubhavpulkit commented on #332
Yes I found these `unresponsive search box and duplication or triplication of the search icon at the top right` when I'm testing in SE 2nd generation device after 2 or 3 times. But in other devices like XR, I can't find these issues.

[2020-07-31 06:01] anubhavpulkit commented on #336
@cpg Can you please have a look.

[2020-07-31 13:49] ShresthPratapSingh opened #339 "Audio Player goes in an infinite loop when resetting queue automatically after all songs are played."
### Description
The audio player gets stuck in an infinite loop. When the queue resets after all songs are played and there is no song left in coming up Next.
The player keeps on changing songs really fast.

### How to reproduce
1. Tap on the first song item in the list
2. Let the player play the song till it's finished.
3. You can drag the slider to seek till the end but don't switch to next song

[2020-08-01 17:29] anubhavpulkit commented on #336
@ShresthPratapSingh anything which you wants to add?

[2020-08-06 13:56] cpg commented on #332
Please list all issues here below, one by one.

Focus on fixing the first one.

Later, focus on fixing the second one.

[2020-08-07 20:01] anubhavpulkit opened #343 "Need update in foreground colour in OfflineFiles and FilesView."
The foreground colour of search bar text field is white in all cases. We need to update the foreground color for different modes.

### Screenshots:
![inssue 1](https://user-images.githubusercontent.com/47811606/89683636-84dff880-d916-11ea-9fa1-749867c346ec.png) ![issue 2](https://user-images.githubusercontent.com/47811606/89683647-89a4ac80-d916-11ea-874c-a9e1cd1ccf52.png)

[2020-08-08 11:19] #319 closed

[2020-08-08 11:26] #339 closed, assigned to ShresthPratapSingh

[2020-08-08 18:21] #335 closed, assigned to ShresthPratapSingh

[2020-08-08 18:29] #343 closed, assigned to nobody

[2020-08-08 18:35] cpg commented on #332
Search works in landscape mode. That should be a very straighforward hint.

Working on colors, etc. means you are already not focused.

From my last message

- [ ] list all the issues one by one

[2020-08-08 18:52] #331 closed, assigned to ShresthPratapSingh

[2020-08-08 18:57] cpg commented on #309
Well, the main site is www.amahi.org and email has been working without any outages for a long long time. We keep an eye on the email system all the time. Email support if you still have any issues. Thanks and apologies for the belated response.

[2020-08-08 18:57] #309 closed

[2020-08-08 18:58] #247 closed

[2020-08-08 19:19] anubhavpulkit commented on #332
- [x] Unresponsive search box when tap first time(if we move to another UI controller and back again then it started working). Not responsive in any orientation.
- [x] Sometimes search bar worked as a sort button.
- [x] Duplication or triplication of the search icon at the top right in `Server file UI` only.
- [x] The issue is present only in new devices(SE 2, iPhone 11 models)
- [ ] Appearance of

[2020-08-10 11:59] cpg commented on #71
By now we kind of have to extend to FaceID

[2020-08-10 12:08] cpg commented on #282
Not an issue in `beta`

[2020-08-10 12:08] #282 closed

[2020-08-10 12:14] cpg commented on #63
Let's add this work to #246

[2020-08-10 12:16] cpg opened #346 "Create a checklist for release testing"
Create a checklist of the things we need to go over in order to feel confident that the app will be rock solid

[2020-08-11 09:34] tusharjindal353 opened #347 "Show size and percentage downloaded when downloading a file"
### Description: ###
The Download will be more better and informative if we can add size and percentage downloaded of a file in downloads screen.
In Current version It is only showing a progress bar.

![Simulator Screen Shot - iPhone SE (2nd generation) - 2020-08-11 at 14 40 38](https://user-images.githubusercontent.com/24813267/89882014-da9cf500-dbe3-11ea-84eb-5acb0820ae82.png)

[2020-08-12 06:22] tusharjindal353 commented on #347
@cpg Can you have a look at this?

[2020-08-12 09:19] cpg commented on #347
I had a look. You are not wrong.

[2020-08-12 10:04] tusharjindal353 commented on #347
@cpg I would love to work on this improvement.

[2020-08-13 11:25] tusharjindal353 commented on #347
@cpg Can you assign this improvement to me?

[2020-08-14 10:04] cpg commented on #71
I think this may be the best flow:

- once the user logs in (whatever form of login -- regular auth or PIN based login) successfully
- the user is asked if they want biometrics, if not, then that's the same flow as now (credentials are saved as it's done now, so login is automatic still)
- if yes, then, 1) the method of login and 2) the credentials are saved for future use when login is required a

[2020-08-15 16:56] anubhavpulkit opened #351 "Confusion in swipeAction button"
In the Recent File view, the background color of SwipeActions(wipe .left) is blue in the current scenario and foreground color is yellow so when we swipe from left to right it appears that we have 2 buttons in swipe left -> right option.
To remove this confusion update the color of background and foreground.

## Screenshots/ Gif
 ![Swipe action before](https://user-images.githubusercontent.com/478

[2020-08-15 17:48] anubhavpulkit opened #352 "Amahi logo of Launch Screen is not visible"
The Amahi logo of launch screen is not visible. Because of selected image for the launch screen is not present in xcassets.

[2020-08-15 19:11] anubhavpulkit opened #353 "Descriptions in the walkthrough UI overlap in landscape orientation"
- The description text in landscape orientation has overlapped the baseline.
- The page controller action is not working. The Ui is not changing with the page controller.
- Color of next button is black which look quite unordered.(*change to white or make skip and next button blue color)

### Screenshots/ gif

- Color of next button
![walkthrough1](https://user-images.githubusercontent.com/4781160

[2020-08-15 19:11] anubhavpulkit commented on #346
### Launch Screen
- [ ] Launch Screen Image in different mode(light and dark)
- [ ] Launch Screen Image in different orientaion (Portrait, Landscape)
### Walkthroght
- [ ] Buttons working(skip and next) at every slide.
- [ ] Page controller action next and previous points.
- [ ] Ui in Portrait, Landscape orientation.
### Login UI
- [ ] Forget button link.
- [ ] Working of show & hide button.
- [ ]

[2020-08-16 19:54] anubhavpulkit commented on #63
We can't change the position of the close button because of limited customization option in Lightbox image viewer. We can change the text color to electric blue and other customization possibilities are mention [here](https://github.com/hyperoslo/Lightbox/blob/master/Source/LightboxConfig.swift ).

### Screenshot after color change
![lightbox](https://user-images.githubusercontent.com/47811606/903

[2020-08-17 10:11] #352 closed, assigned to nobody

[2020-08-17 11:49] #246 closed

[2020-08-17 12:40] ShresthPratapSingh commented on #353
To easily test Walkthrough Screen UI:

- Go to `SettingsViewController.Swift` > `internal func signOut()`
- In `signOut()` **Comment out the following line of code**
   `let loginVc = self.viewController(viewControllerClass: LoginViewController.self, from: StoryBoardIdentifiers.main)`
- In place of the code we just commented **add the following code**:
  `let loginVc = UIStoryboard(name: "Main", b

[2020-08-17 17:19] #347 closed, assigned to tusharjindal353

[2020-08-17 17:25] #351 closed, assigned to nobody

[2020-08-17 20:18] anubhavpulkit commented on #346
We have to test in
- iPhone SE (2nd gen)
- iPhone 11
- iPhone Xs, Xs Max
- iPhone 8, 8plus
- iPhone SE
- iPad Air
- iPad Pro
with iOS 12 and iOS 13.1

[2020-08-19 10:37] #63 closed

[2020-08-22 22:54] anubhavpulkit opened #359 "Update recent files UI"
## Description
UI of the recent file is quite different than other UIs which contain files(like Offline UI) because of unavailability of the number of files label and the sort button and difference in the search controller UI.

## Mocks

![recent](https://user-images.githubusercontent.com/47811606/90967089-e64bbe00-e4f7-11ea-8766-2dda4ec01157.png) ![offline](https://user-images.githubusercontent.c

[2020-08-24 08:44] anubhavpulkit opened #360 "Audio player taking long time in file loading"
After new updates in the audio player, it takes a long time to load audio file before start playing.

### Screenshot
![audio player](https://user-images.githubusercontent.com/47811606/91023187-dcb77880-e613-11ea-8b99-17a5b2ca29d8.gif)

[2020-08-24 10:06] ShresthPratapSingh commented on #360
@anubhavsingh16 when you're playing a file that is not offline, audio player operates in HLS protocol(Http Live Streaming) i.e, fetches content from a URL. So things are dependent on your internet connection too.
If you try playing a file in the downloads section i.e, already downloaded file you'll find out that it takes only a fraction of a second to start playing.

[2020-08-24 12:01] cpg commented on #360
Please go back to a commit where this did not happen and compare.

[2020-08-24 12:06] cpg commented on #346
Please put the markdown of the checklist into a file called `ReleaseChecklist.md` in the root of the dir and submit a PR. Thanks.

[2020-08-28 10:44] #353 closed, assigned to nobody

[2020-08-28 10:53] #337 closed, assigned to ShresthPratapSingh

[2020-08-28 11:38] ShresthPratapSingh opened #365 "Failed download does not reflect error or downloaded size."
### Description
When a server is stopped while a file is being downloaded, no error is shown for download being interrupted and the file currently being downloaded shows the actual size.

### How to Reproduce
1. Navigate to a share and download a file
2. While the file is being downloaded stop the server by using command : `sudo systemctl stop amahi-anywhere`

### Issues Encountered
1. The file do

[2020-08-29 19:22] anubhavpulkit opened #366 "Assets.xcassets files update"
There are so many unused png files are present in Assets.xcassets to reduce the size of Amahi iOS app we need to clear them.
And also we need to add a new Amahi logo image for the walkthrough(with white text) and a set of Amahi logo images for the launch screen.

[2020-08-30 19:59] anubhavpulkit commented on #359
@cpg can we modify our recent file UI like this(search bar is between sort and layout button) ->
![recent file](https://user-images.githubusercontent.com/47811606/91668261-1105ca00-eb29-11ea-8948-9151720a852f.png)

[2020-09-09 17:39] cpg opened #368 "We should consider highlighting what's new in the iOS app next major release with WhatsNewKit"
This kit seems like a great thing to highlight major new features https://github.com/SvenTiigi/WhatsNewKit

[2020-09-12 11:38] tusharjindal353 commented on #368
@cpg I want to work on this.Please assign this improvement to me

[2020-09-13 13:59] cpg commented on #368
@tusharjindal353 There is no need to assign. You (or anybody else for that matter) can go ahead and provide a pull request to add it.

[2020-09-13 14:15] tusharjindal353 commented on #368
@cpg OK.Thanks